<!-- ReactiveForms -->
<p-dropdown *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="roomTypes"
            optionLabel="label"
            optionValue="value"
            (onChange)="handleOnChange($event)"
            placeholder="{{ 'Válasszon...' | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">

    <ng-template pTemplate="item" let-option>
        <div [ngClass]="'color-badge roomtype-badge ' + option?.color">
            <div>{{ option.label }}</div>
            <small *ngIf="option.description">{{ option.description }}</small>
        </div>
    </ng-template>

    <ng-template pTemplate="selectedItem" let-selectedItem>
        <div [ngClass]="'color-badge roomtype-badge ' + selectedItem?.color">
            <div>{{ selectedItem?.label }}</div>
            <small *ngIf="selectedItem.description">{{ selectedItem?.description }}</small>
        </div>
    </ng-template>
</p-dropdown>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-dropdown [(ngModel)]="selectedRoomType"
                [options]="roomTypes"
                optionLabel="label"
                optionValue="value"
                (onChange)="handleOnChange($event)"
                placeholder="{{ 'Válasszon...' | translate }}"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                appendTo="body">

        <ng-template pTemplate="item" let-option>
            <div [ngClass]="'color-badge roomtype-badge ' + option?.color">
                <div>{{ option.label }}</div>
                <small *ngIf="option.description">{{ option.description }}</small>
            </div>
        </ng-template>

        <ng-template pTemplate="selectedItem" let-selectedItem>
            <div [ngClass]="'color-badge roomtype-badge ' + selectedItem?.color">
                <div>{{ selectedItem?.label }}</div>
                <small *ngIf="selectedItem.description">{{ selectedItem?.description }}</small>
            </div>
        </ng-template>
    </p-dropdown>
</ng-template>
