<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>
    <div class="landing-wrapper">

        <div class="absolute top-0 right-0 flex align-items-center px-3 py-3">
            <app-language-selector></app-language-selector>
        </div>

        <div class="py-6 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
            <div id="home"
                class="grid grid-nogutter justify-content-between align-items-center mb-6">
                <div
                    class="col-12 lg:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left mb-3">
                    <span class="block text-900 font-bold text-4xl">{{ 'Welcome' | translate }}!</span>
                    <span class="block text-700 text-lg">{{ 'A regisztrációval' | translate }}</span>
                    <ul class="flex flex-wrap gap-5 list-none p-0">
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">{{ 'nagyban segíted a rendezvényszerveződ munkáját' | translate }}</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">{{ 'és törvényi kötelezettségednek is eleget teszel' | translate }}</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">{{ 'Kérdés esetén kérjük fordulj a rendezvény szerveződhöz' | translate }}!</span>
                        </li>
                    </ul>
                    <span class="block text-700 text-lg">{{ 'Köszönjük a figyelmes kitöltést' | translate }}! 😊</span>
                </div>

                <div class="col-12 lg:col-7 md:col-12 flex-order-1 md:flex-order-1 mb-6 md:mb-0 border-round">
                    <div class="card w-full h-full border-round shadow-2 animation-duration-1000 animation-ease-out" animateEnter="moveinright">
                        <div class="card-title block text-900 font-bold text-2xl">
                            {{ conference && conference.name }}
                        </div>
                        <div class="card-subtitle block text-600 font-bold text-lg">
                            {{ 'Vendég Regisztrációs Űrlap' | translate }}
                        </div>
                        <div class="grid mt-2">
                            <div class="col-12 lg:col-12 pb-0">

                                <!-- SYSTEM MESSAGE -->
                                <p-messages></p-messages>

                                <!-- Show registration form if registration is not ended -->
                                <div *ngIf="registrationEnded === false && showForm === true">

                                    <!-- Registration form -->
                                    <form [formGroup]="conferenceForm" (ngSubmit)="onSubmit()" novalidate class="grid formgrid p-fluid">

                                        <!-- Vezetéknév -->
                                        <div class="field mb-4 col-12 lg:col-4 md:col-12">
                                            <label for="lastName" class="font-medium text-900">{{'Vezetéknév' | translate }}</label>
                                            <input id="lastName" type="text" pInputText formControlName="lastName">
                                            <div *ngIf="lastName?.dirty && lastName?.errors?.['required']" class="p-error">
                                                {{'Vezetéknév' | translate }} {{'kötelezos' | translate }}
                                            </div>
                                        </div>

                                        <!-- Keresztnév -->
                                        <div class="field mb-4 col-12 lg:col-4 md:col-12" >
                                            <label for="firstName" class="font-medium text-900">{{'Keresztnév' | translate }}</label>
                                            <input id="firstName" type="text" pInputText formControlName="firstName">
                                            <div *ngIf="firstName?.dirty && firstName?.errors?.['required']" class="p-error">
                                                {{'Keresztnév' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Neme -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="gender" class="font-medium text-900">{{'Neme' | translate }}</label>
                                            <div class="flex flex-wrap gap-3 my-3">
                                                <div class="flex align-items-center">
                                                    <p-radioButton name="gender" value="1" formControlName="gender" inputId="gender1"></p-radioButton>
                                                    <label for="gender1" class="ml-2">{{'Férfi' | translate }}</label>
                                                </div>

                                                <div class="flex align-items-center">
                                                    <p-radioButton name="gender" value="2" formControlName="gender" inputId="gender2"></p-radioButton>
                                                    <label for="gender2" class="ml-2">{{'Nő' | translate }}</label>
                                                </div>
                                            </div>
                                            <div *ngIf="gender?.dirty && gender?.errors?.['required']" class="p-error">
                                                {{'Neme' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Születési dátum -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="birthDate" class="font-medium text-900">{{'Születési dátum' | translate }}</label>
                                            <p-calendar id="birthDate"
                                                        formControlName="birthDate"
                                                        [defaultDate]="birthDateMax"
                                                        [minDate]="birthDateMin" 
                                                        [maxDate]="birthDateMax" 
                                                        dateFormat="yy-mm-dd" 
                                                        dataType="string"
                                                        appendTo="body">
                                            </p-calendar>
                                            <div *ngIf="birthDate?.dirty && birthDate?.errors?.['required']" class="p-error">
                                                {{'Születési dátum' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Állampolgárság -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="nationality" class="font-medium text-900">{{'Állampolgárság' | translate }}</label>
                                            <app-nationality-selector [parentForm]="conferenceForm" controlName="nationality"></app-nationality-selector>
                                            <div *ngIf="nationality?.dirty && nationality?.errors?.['required']" class="p-error">
                                                {{'Állampolgárság' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Lakóhely - ország -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="country" class="font-medium text-900">{{'Lakóhely - ország' | translate }}</label>
                                            <app-country-selector [parentForm]="conferenceForm" controlName="country"></app-country-selector>
                                            <div *ngIf="country?.dirty && country?.errors?.['required']" class="p-error">
                                                {{'Ország' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Lakóhely - irányítószám -->
                                        <div class="field mb-4 col-12 lg:col-4 md:col-12" >
                                            <label for="zipCode" class="font-medium text-900">{{'Lakóhely - irányítószám' | translate }}</label>
                                            
                                            <!-- Hungary esetén -->
                                            <p-inputMask *ngIf="conferenceForm.get('country')?.value === 'Hungary'"
                                                         id="zipCode"
                                                         mask="9999" 
                                                         formControlName="zipCode"
                                                         class="w-full" />

                                            <!-- Nem HU esetén -->
                                            <input *ngIf="conferenceForm.get('country')?.value !== 'Hungary'"
                                                    id="zipCode"
                                                    type="text"
                                                    formControlName="zipCode"
                                                    pInputText
                                                    class="w-full" />
                                            
                                            <div *ngIf="zipCode?.dirty || zipCode?.touched" class="p-error">
                                                <div *ngIf="zipCode?.errors?.['required']">
                                                    {{'Irányítószám' | translate }} {{'kötelező' | translate }}
                                                </div>
                                                <div *ngIf="zipCode?.errors?.['invalidZipCode']">
                                                    {{'A magyar irányítószámnak 4 számjegyből kell állnia' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Email -->
                                        <div class="field mb-4 col-12 lg:col-4 md:col-12" >
                                            <label for="email" class="font-medium text-900">{{'Email' | translate }}</label>
                                            <input id="email" type="email" pInputText formControlName="email" autocomplete="email">
                                            <div *ngIf="email?.dirty" class="p-error">
                                                <div *ngIf="email?.errors?.['required']">
                                                    {{'Email' | translate }} {{'kötelező' | translate }}
                                                </div>
                                                <div *ngIf="email?.errors?.['email']">
                                                    {{'Nem megfelelő email formátum' | translate }}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Telefon -->
                                        <div class="field mb-4 col-12 lg:col-4 md:col-12" >
                                            <label for="telephone" class="font-medium text-900">{{'Telefon' | translate }}</label>
                                            <input id="telephone" type="text" pInputText formControlName="telephone">
                                            <div *ngIf="telephone?.dirty && telephone?.errors?.['required']" class="p-error">
                                                {{'Telefon' | translate }} {{'kötelező' | translate }}
                                            </div>
                                        </div>

                                        <!-- Érkezés dátuma -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="dateOfArrival" class="font-medium text-900">{{'Érkezés dátuma' | translate }}</label>
                                            <p-calendar id="dateOfArrival"
                                                        formControlName="dateOfArrival"
                                                        [ngClass]="{'ng-invalid': conferenceForm.errors?.['dateRangeInvalid']}"
                                                        [defaultDate]="beginDate"
                                                        [minDate]="beginDate" 
                                                        [maxDate]="endDate"
                                                        dateFormat="yy-mm-dd"
                                                        dataType="string"
                                                        appendTo="body">
                                            </p-calendar>
                                            <div *ngIf="dateOfArrival?.dirty && dateOfArrival?.errors?.['required']" class="p-error">
                                                {{'Kérjük, adja meg az érkezés dátumát' | translate }}!
                                            </div>
                                            <div *ngIf="conferenceForm.errors?.['dateRangeInvalid']" class="p-error">
                                                {{'Az érkezés dátumának korábbinak kell lennie, mint a távozási dátum' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Első étkezés -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="firstMeal" class="font-medium text-900">{{'Első étkezés' | translate }}</label>
                                            <app-meal-selector 
                                                [parentForm]="conferenceForm" 
                                                controlName="firstMeal"
                                                [earliestMeal]="getEarliestFirstMeal()"
                                                [latestMeal]="getLatestFirstMeal()"  
                                                [showNothing]="true">
                                            </app-meal-selector>
                                            <div *ngIf="firstMeal?.dirty && firstMeal?.errors?.['required']" class="p-error">
                                                {{'Kérjük, válassza ki az első étkezését' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Étrend -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="diet" class="font-medium text-900">{{'Étrend' | translate }}</label>
                                            <app-diet-selector [parentForm]="conferenceForm" controlName="diet"></app-diet-selector>
                                            <div *ngIf="diet?.dirty && diet?.errors?.['required']" class="p-error">
                                                {{'Kérjük, válassza ki az étrendjét' | translate }}!
                                            </div>
                                            <small *ngIf="conference?.name === '20250713-20250718 Új Jeruzsálem nyári tábor' && diet?.value?.toLowerCase() !== 'normál'" id="diet-help">
                                                {{'Normáltól eltérő menü rendelésének felára 10 év felettieknek 1300 Ft/fő/éj, 3-10 év közöttiek esetén 800 Ft/fő/éj' | translate }}.
                                            </small>
                                        </div>

                                        <!-- Távozás dátuma -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="dateOfDeparture" class="font-medium text-900">{{'Távozás dátuma' | translate }}</label>
                                            <p-calendar id="dateOfDeparture"
                                                        formControlName="dateOfDeparture"
                                                        [ngClass]="{'ng-invalid': conferenceForm.errors?.['dateRangeInvalid']}"
                                                        [defaultDate]="beginDate"
                                                        [minDate]="beginDate" 
                                                        [maxDate]="endDate"
                                                        dateFormat="yy-mm-dd"
                                                        dataType="string"
                                                        appendTo="body">
                                            </p-calendar>
                                            <div *ngIf="dateOfDeparture?.dirty && dateOfDeparture?.errors?.['required']" class="p-error">
                                                {{'Kérjük, adja meg a távozás dátumát' | translate }}!
                                            </div>
                                            <div *ngIf="conferenceForm.errors?.['dateRangeInvalid']" class="p-error">
                                                {{'A távozás dátumának későbbinek kell lennie, mint az érkezési dátum' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Utolsó étkezés -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="lastMeal" class="font-medium text-900">{{'Utolsó étkezés' | translate }}</label>
                                            <app-meal-selector 
                                                [parentForm]="conferenceForm" 
                                                controlName="lastMeal" 
                                                [earliestMeal]="getEarliestLastMeal()" 
                                                [latestMeal]="getLatestLastMeal()" 
                                                [showNothing]="true">
                                            </app-meal-selector>
                                            <div *ngIf="lastMeal?.dirty && lastMeal?.errors?.['required']" class="p-error">
                                                {{'Kérjük, válassza ki az utolsó étkezését' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Babaágyat kérsz? -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="babyBed" class="font-medium text-900">{{'Babaágyat kérsz' | translate }}?</label>
                                            <div class="flex flex-wrap gap-3 my-3">
                                                <div class="flex align-items-center">
                                                    <p-radioButton name="babyBed" value="1" formControlName="babyBed" inputId="baby-bed-yes"></p-radioButton>
                                                    <label for="baby-bed-yes" class="ml-2">{{'Igen' | translate }}</label>
                                                </div>
                                                <div class="flex align-items-center">
                                                    <p-radioButton name="babyBed" value="0" formControlName="babyBed" inputId="baby-bed-no"></p-radioButton>
                                                    <label for="baby-bed-no" class="ml-2">{{'Nem' | translate }}</label>
                                                </div>
                                            </div>
                                            <div *ngIf="babyBed?.dirty && babyBed?.errors?.['required']" class="p-error">
                                                {{'Kérjük válassza ki, hogy kér-e babaágyat' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Szállástípus -->
                                        <div class="field mb-4 col-12 lg:col-8">
                                            <label for="roomType" class="font-medium text-900">{{'Szállástípus' | translate }}</label>
                                            <app-roomtype-selector 
                                                [parentForm]="conferenceForm" 
                                                controlName="roomType">
                                            </app-roomtype-selector>
                                            <div *ngIf="roomType?.dirty && roomType?.errors?.['required']" class="p-error">
                                                {{'Kérjük válassza ki a szállástípust' | translate }}!
                                            </div>
                                            <small id="roomType-help">
                                                {{'Igyekszünk figyelembe venni a választásotokat, mivel korlátozott számú szobatípus és klimatizált szoba áll rendelkezésre, ezért nem tudjuk garantálni, hogy biztosan a megjelölt szállástípusra osztunk be' | translate }}.
                                            </small>
                                        </div>

                                        <!-- Klímát kérsz? -->
                                        <div *ngIf="showClimateField" class="field mb-4 col-12 lg:col-4">
                                            <label for="climate" class="font-medium text-900">{{'Klímát kérsz' | translate }}?</label>
                                            <div class="flex flex-wrap gap-3 my-3">
                                                <div class="flex align-items-center">
                                                    <p-radioButton name="climate" value="1" formControlName="climate" inputId="climate-yes"></p-radioButton>
                                                    <label for="climate-yes" class="ml-2">{{'Igen' | translate }}</label>
                                                </div>
                                                <div class="flex align-items-center">
                                                    <p-radioButton name="climate" value="0" formControlName="climate" inputId="climate-no"></p-radioButton>
                                                    <label for="climate-no" class="ml-2">{{'Nem' | translate }}</label>
                                                </div>
                                            </div>
                                            <div *ngIf="climate?.dirty && climate?.errors?.['required']" class="p-error">
                                                {{'Kérjük válassza ki, hogy kér-e klímát' | translate }}!
                                            </div>
                                            <small *ngIf="conference?.name === '20250713-20250718 Új Jeruzsálem nyári tábor'" id="climate-help">
                                                {{'Klímával felszerelt szoba felára 1000 Ft/fő/éj' | translate }}.
                                            </small>
                                        </div>

                                        <!-- Kivel laknál egy szobában -->
                                        <div class="field mb-4 col-12 lg:col-8" *ngIf="conferenceForm.get('roomType')?.value !== 'Nem kérek szállást'">
                                            <label for="roomMate" class="font-medium text-900">{{'Kivel laknál egy szobában' | translate }}?</label>
                                            <p-chips formControlName="roomMate" 
                                                    separator="," 
                                                    [showClear]="true"
                                                    [addOnBlur]="true">
                                                <ng-template let-item pTemplate="item">
                                                    <i class="pi pi-user mr-2"></i> {{ item }}
                                                </ng-template>
                                            </p-chips>
                                            <small id="roomMate-help">
                                                {{'Kérjük a regisztrációkor megadott nevet tüntesse itt fel' | translate }}.
                                            </small>
                                            <small id="roomMate-help">
                                                {{'Vesszővel elválasztva megadhatja, hogy kivel lakna egy szobában' | translate }}.
                                            </small>
                                        </div>

                                        <!-- Fizetési mód -->
                                        <div class="field mb-4 col-12 lg:col-4">
                                            <label for="payment" class="font-medium text-900">{{'Fizetési mód' | translate }}</label>
                                            <app-payment-selector 
                                                [parentForm]="conferenceForm" 
                                                controlName="payment">
                                            </app-payment-selector>
                                            <div *ngIf="payment?.dirty && payment?.errors?.['required']" class="p-error">
                                                {{'Kérjük válassza ki a fizetési módot' | translate }}!
                                            </div>
                                            <small *ngIf="conference?.name === '20250713-20250718 Új Jeruzsálem nyári tábor'" id="payment-help">
                                                {{'Kérlek, a "Banki átutalás" és "SZÉP kártya" közül válassz' | translate }}!
                                                {{'Készpénzes fizetést, kérlek, csak a Szervezővel való  egyeztetés után jelölj meg' | translate }}.
                                                <a href="mailto:programujjeruzsalem@gmail.com">programujjeruzsalem&commat;gmail.com</a>
                                            </small>
                                        </div>

                                        <!-- Figyelmeztetés SZÉP kártyás fizetés esetén -->
                                        <div *ngIf="payment?.value === 'SZÉP kártya'" class="field mb-4 col-12">
                                            <p-messages [value]="szepCardMessage" [closable]="false"/>
                                        </div>

                                        <!-- Extra kérdések -->
                                        <div formArrayName="answers" class="field col-12 mb-0">
                                            <div *ngFor="let answer of answers.controls; let i = index">
                                                <ng-container *ngIf="getTranslatedQuestion(i)">
                                                    <div class="mb-4">
                                                        <label class="font-medium text-900">
                                                            {{ getTranslatedQuestion(i) }}
                                                        </label>
                                                        <input pInputText [formControlName]="i" />
                                                        <div *ngIf="answer?.dirty && answer?.errors?.['required']" class="p-error">
                                                            Kötelező kitölteni
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <!-- Személyi igazolvány -->
                                        <div class="field mb-4 col-12 lg:col-12">
                                            <label for="idCard" class="font-medium text-900">
                                                {{'Személyi igazolvány hátoldala' | translate }}
                                                <i pTooltip="<img src='/assets/demo/images/eszemelyi-back.jpg' alt='ID Card back' style='max-width: 30vw;'/>"
                                                    [escape]="false"
                                                    appendTo="body"
                                                    class="pi pi-info-circle"
                                                    tooltipPosition="top"
                                                    tooltipStyleClass="tooltip"></i>
                                            </label>
                                            <app-reactive-file-upload
                                                name="idCard"
                                                formControlName="idCard" 
                                                accept=".jpg,.jpeg,.png" 
                                                chooseLabel="{{'Tallózás' | translate }}" 
                                                cancelLabel="{{'Mégsem' | translate }}">
                                            </app-reactive-file-upload>
                                            <div *ngIf="idCard?.dirty && idCard?.errors?.['required']" class="p-error">
                                                {{'Kérjük, töltse fel a személyi igazolványának másolatát' | translate }}!
                                            </div>
                                        </div>

                                        <!-- Adatvédelem + Felhasználói feltételek -->
                                        <div class="field mb-4 col-12">
                                            <p-checkbox formControlName="privacy" [binary]="true" inputId="privacy"></p-checkbox>
                                            <span class="ml-2">
                                                {{'Elfogadom az' | translate }}
                                                <a class="cursor-pointer text-primary-700"
                                                    href="https://www.zichy-vajta.com/gdpr"
                                                    target="_blank">
                                                    {{'Adatvédelmi irányelveket' | translate }}
                                                </a> {{'és a' | translate }}
                                                <a class="cursor-pointer text-primary-700 "
                                                    href="https://www.zichy-vajta.com/gdpr"
                                                    target="_blank">
                                                    {{'Felhasználói feltételeket' | translate }}
                                                </a>
                                            </span>
                                            <div *ngIf="privacy?.dirty && privacy?.errors?.['required']" class="p-error">
                                                {{'Az adatvédelmi irányelvek és a felhasználói feltételek elfogadása kötelező' | translate }}!
                                            </div>
                                        </div>

                                        <!-- SUBMIT -->
                                        <p-button type="submit" 
                                                  class="white-space-nowrap ml-3" 
                                                  icon="pi pi-check" 
                                                  label="{{'Elküldöm a regisztrációmat' | translate }}" 
                                                  [loading]="loading">
                                        </p-button>
                                    </form>
                                </div>

                                <!-- New registration -->
                                <div *ngIf="registrationEnded === false && showForm === false"
                                     class="flex col-12 align-items-center justify-content-center">
                                    
                                     <p-button class="white-space-nowrap mt-3" 
                                               icon="pi pi-plus"
                                               label="{{'Új vendéget regisztrálok' | translate }}"
                                               (onClick)="newRegistration()">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid justify-content-between my-6 pt-4 md:my-8">
                <div class="col-12 md:col-2 text-center md:text-left">
                    <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Zichy-Vajta Konferencia Központ Nonprofit Közhasznú Kft</h4>
                    <a class="line-height-3 block cursor-pointer mb-2 text-700">7041 Vajta, Petőfi Sándor utca 562</a>
                    <a class="line-height-3 block cursor-pointer text-700">NTAK szám: KO22054588</a>
                </div>

                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-3">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Rólunk</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Történet</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Kastély</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Szervezőknek</a>
                            <a class="line-height-3 block cursor-pointer text-700">Önkéntesség</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Szolgáltatások</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Konferencia termek</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Teljes panziós ellátás</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Kávézó</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Medence</a>
                            <a class="line-height-3 block cursor-pointer text-700">Sportpályák</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Rendezvények</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Konferenciák</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Esküvők</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Training helyszín</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700">Táborok</a>
                            <a class="line-height-3 block cursor-pointer text-700">Forgatási helyszín</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Jog</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700"
                               href="https://www.zichy-vajta.com/gdpr"
                               target="_blank">
                               Adatvédelmi irányelvek
                            </a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700"
                               href="https://www.zichy-vajta.com/gdpr"
                               target="_blank">
                               Felhasználói feltételek
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notifications -->
<p-toast></p-toast>