<!-- ReactiveForms -->
<p-select *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="roles"
            optionLabel="name"
            optionValue="id"
            (onChange)="handleOnChange($event)"
            placeholder="{{ 'Válasszon...' | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            [style]="{'minWidth':'13rem'}"
            appendTo="body">

    <ng-template pTemplate="item" let-option>
        <span [ngClass]="getRoleStyleClass(option.id)">
            {{ option.name }}
        </span>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedItem>
        <span [ngClass]="getRoleStyleClass(selectedItem.id)">
            {{ selectedItem.name }}
        </span>
    </ng-template>
</p-select>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-select [(ngModel)]="selectedRole"
                [options]="roles"
                optionLabel="name"
                optionValue="id"
                (onChange)="handleOnChange($event)"
                placeholder="{{ 'Válasszon...' | translate }}"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                [style]="{'minWidth':'13rem'}"
                appendTo="body">

        <ng-template pTemplate="item" let-option>
            <span [ngClass]="getRoleStyleClass(option.id)">
                {{ option.name }}
            </span>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
            <span [ngClass]="getRoleStyleClass(selectedItem.id)">
                {{ selectedItem.name }}
            </span>
        </ng-template>
    </p-select>
</ng-template>
