<div class="grid">
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-table #dt
                     dataKey="id"
                     [value]="tableData"
                     [columns]="cols"
                     responsiveLayout="scroll"
                     [rows]="rowsPerPage"
                     [totalRecords]="totalRecords"
                     [globalFilterFields]="['rfid']"
                     [paginator]="true"
                     [rowsPerPageOptions]="rowsPerPageOptions"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} bejegyzés a(z) {totalRecords}-ból megjelenítése"
                     [(selection)]="selected"
                     selectionMode="multiple"
                     [tableStyle]="{'min-height': 'calc(100vh - 320px)'}"
                     [rowHover]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [lazy]="true">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">RFID címke</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés..."  class="w-full sm:w-auto"/>
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="tableItem = {}; dialog = true"></button>
                            <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger mr-2" (click)="bulkDeleteDialog = true" [disabled]="!selected || !selected.length"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="color">Szín <p-sortIcon field="color"></p-sortIcon></th>
                        <th pSortableColumn="identifier">Azonosító <p-sortIcon field="identifier"></p-sortIcon></th>
                        <th pSortableColumn="enabled">Engedélyezve van <p-sortIcon field="enabled"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">Létrehozva <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th pSortableColumn="updatedAt">Módosítva <p-sortIcon field="updatedAt"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tag>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="tag"></p-tableCheckbox>
                        </td>
                        <td style="width:5%; min-width:5rem;">
                            <span class="p-column-title">ID</span>
                            {{tag.id}}
                        </td>
                        <td style="width:15%; min-width:15rem;">
                            <span class="p-column-title">Szín</span>
                            {{tag.color}}
                        </td>
                        <td style="width:15%; min-width:15rem;">
                            <span class="p-column-title">Azonosító</span>
                            {{tag.identifier}}
                        </td>
                        <td style="width:15%; min-width:15rem;">
                            <span class="p-column-title">Engedélyezve van</span>
                            {{tag.enabled}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Létrehozva</span>
                            {{tag.createdAt | date:"yyyy.MM.dd"}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Módosítva</span>
                            {{tag.updatedAt | date:"yyyy.MM.dd"}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="tableItem = tag; dialog = true"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="tableItem = tag; deleteDialog = true"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="cols.length + 3" class="text-center">Nincs találat...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- New / Update dialog -->
        <p-dialog [(visible)]="dialog" header="Címke adatai" [modal]="true" [style]="{width:'450px'}" class="p-fluid">
            <ng-template pTemplate="content">
                <!-- <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages> -->
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="identifier">Azonosító</label>
                        <input pInputText type="text" id="identifier" [(ngModel)]="tableItem.identifier" readonly autofocus />
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="identifier">Címke színe</label>
                        <p-dropdown [options]="tagColors" optionLabel="name" [(ngModel)]="selectedTagColor" [showClear]="true" placeholder="Válasszon színt..."></p-dropdown>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="dialog = false"></button>
                <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <!-- Delete dialog -->
        <p-dialog [(visible)]="deleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tableItem">Biztosan törölni akarja a(z) <b>{{tableItem.identifier}}</b> címkét?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="deleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="delete()"></button>
            </ng-template>
        </p-dialog>

        <!-- Bulk Delete dialog -->
        <p-dialog [(visible)]="bulkDeleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztosan törölni akarja a kiválasztott címkét?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="bulkDeleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="deleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<!-- Notifications -->
<p-toast></p-toast>
