<!-- ReactiveForms -->
<p-dropdown *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="diets"
            optionLabel="name"
            optionValue="name"
            (onChange)="handleOnChange($event)"
            placeholder="{{ 'Válasszon...' | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">

    <ng-template pTemplate="item" let-option>
        <span [ngClass]="'diet-badge'" [ngStyle]="getStyleByColor(option?.color)">
            {{ option.name | translate }}
        </span>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedItem>
        <span [ngClass]="'diet-badge'" [ngStyle]="getStyleByColor(selectedItem?.color)">
            {{ selectedItem?.name | translate  }}
        </span>
    </ng-template>
</p-dropdown>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-dropdown [(ngModel)]="selectedDiet"
                [options]="diets"
                optionLabel="name"
                optionValue="name"
                (onChange)="handleOnChange($event)"
                placeholder="{{ 'Válasszon...' | translate }}"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                appendTo="body">

        <ng-template pTemplate="item" let-option>
            <span [ngClass]="'diet-badge'" [ngStyle]="getStyleByColor(option?.color)">
                {{ option.name | translate  }}
            </span>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
            <span [ngClass]="'diet-badge'" [ngStyle]="getStyleByColor(selectedItem?.color)">
                {{ selectedItem?.name | translate  }}
            </span>
        </ng-template>
    </p-dropdown>
</ng-template>
