<!-- ReactiveForms -->
<p-dropdown *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="statuses"
            optionLabel="label"
            optionValue="value"
            (onChange)="handleOnChange($event)"
            placeholder="{{ placeholder | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">
    <ng-template pTemplate="item" let-option>
        <span class="reservation-status-badge {{ option.value }}">
            {{ 'RESERVATION_STATUSES.' + option.label?.toUpperCase() | translate }}
        </span>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedItem>
        <span class="reservation-status-badge {{ selectedItem?.value }}">
            {{ 'RESERVATION_STATUSES.' + selectedItem?.label?.toUpperCase() | translate }}
        </span>
    </ng-template>
</p-dropdown>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-dropdown [(ngModel)]="selectedStatus"
                [options]="statuses"
                optionLabel="label"
                optionValue="value"
                (onChange)="handleOnChange($event)"
                placeholder="{{ placeholder | translate }}"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                appendTo="body">
        <ng-template pTemplate="item" let-option>
            <span class="reservation-status-badge {{ option.value }}">
                {{ 'RESERVATION_STATUSES.' + option.label?.toUpperCase() | translate }}
            </span>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
            <span class="reservation-status-badge {{ selectedItem?.value }}">
                {{ 'RESERVATION_STATUSES.' + selectedItem?.label?.toUpperCase() | translate }}
            </span>
        </ng-template>
    </p-dropdown>
</ng-template>