<p-dropdown [formControl]="getFormControl()"
            [options]="payments"
            optionLabel="label"
            optionValue="value"
            placeholder="{{ 'Válasszon...' | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">
            <ng-template pTemplate="item" let-option>
                <span [ngClass]="'payment-badge ' + option?.style">
                    <i [ngClass]="'mr-1 ' + option?.icon"></i>
                    {{ option.label }}
                </span>
            </ng-template>
            <ng-template pTemplate="selectedItem" let-selectedItem>
                <span [ngClass]="'payment-badge ' + selectedItem?.style">
                    <i [ngClass]="'mr-1 ' + selectedItem?.icon"></i>
                    {{ selectedItem?.label }}
                </span>
            </ng-template>
</p-dropdown>