<!-- ReactiveForms -->
<p-dropdown *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="payments"
            optionLabel="label"
            optionValue="value"
            (onChange)="handleOnChange($event)"
            placeholder="{{ 'Válasszon...' | translate }}"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">
    <ng-template pTemplate="item" let-option>
        <span [ngClass]="'payment-badge ' + option?.style">
            <i [ngClass]="'mr-1 ' + option?.icon"></i>
            {{ option.label }}
        </span>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedItem>
        <span [ngClass]="'payment-badge ' + selectedItem?.style">
            <i [ngClass]="'mr-1 ' + selectedItem?.icon"></i>
            {{ selectedItem?.label }}
        </span>
    </ng-template>
</p-dropdown>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-dropdown [(ngModel)]="selectedPayment"
                [options]="payments"
                optionLabel="label"
                optionValue="value"
                (onChange)="handleOnChange($event)"
                placeholder="{{ 'Válasszon...' | translate }}"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                appendTo="body">
        <ng-template pTemplate="item" let-option>
            <span [ngClass]="'payment-badge ' + option?.style">
                <i [ngClass]="'mr-1 ' + option?.icon"></i>
                {{ option.label }}
            </span>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
            <span [ngClass]="'payment-badge ' + selectedItem?.style">
                <i [ngClass]="'mr-1 ' + selectedItem?.icon"></i>
                {{ selectedItem?.label }}
            </span>
        </ng-template>
    </p-dropdown>
</ng-template>