<div class="grid">
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-table #dt
                     dataKey="id"
                     [value]="tableData"
                     [columns]="cols"
                     responsiveLayout="scroll"
                     [rows]="rowsPerPage"
                     [totalRecords]="totalRecords"
                     [globalFilterFields]="['firstName', 'lastName', 'rfid', 'roomNum', 'diet', 'birthDate', 'dateOfArrival', 'dateOfDeparture', 'firstMeal', 'lastMeal']"
                     [paginator]="true"
                     [rowsPerPageOptions]="rowsPerPageOptions"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} bejegyzés a(z) {totalRecords}-ból megjelenítése"
                     [(selection)]="selected"
                     selectionMode="multiple"
                     [tableStyle]="{'min-height': 'calc(100vh - 320px)'}"
                     [rowHover]="true"
                     (onRowExpand)="onRowExpand($event.data)"
                     (onLazyLoad)="onLazyLoad($event)"
                     [lazy]="true" >

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Vendégek</h5>
                        <span class="block mt-2 md:mt-0">
                            <app-conference-selector
                                (change)="setSelectedConference($event)" 
                                [showClear]="true"
                                placeholder="Válasszon konferenciát...">
                            </app-conference-selector>
                        </span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left w-full sm:w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés bármely vendégadatra..." style="min-width: 300px;" pTooltip="NFC címkét a saját keresőmezőjébe csippantsd"/>
                        </span>
                        <span class="block mt-2 md:mt-0 flex align-items-center flex-wrap">
                            <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="create()" [disabled]="!canCreate"></button>
                            <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger mr-2" (click)="bulkDeleteDialog = true" [disabled]="!selected || !selected.length || !canDelete"></button>
                            <p-fileUpload
                                #fileUpload
                                mode="basic"
                                label="Import"
                                chooseLabel="Import"
                                class="mr-2 inline-block"
                                chooseIcon="pi pi-upload"
                                name="file"
                                url="{{apiURL}}/guest/import"
                                accept=".xlsx"
                                [auto]="true"
                                [maxFileSize]="9999999"
                                (onSend)="onSend($event)"
                                (onError)="onExcelUploadError($event, fileUpload)"
                                (onUpload)="onExcelUpload($event)"
                                [disabled]="!canImport"
                                pTooltip="Kizárólag a táblázathoz tartozó Excel fájl importálható"
                                tooltipPosition="top"/>
                            <p-splitButton 
                                icon="pi pi-download" 
                                label="Export" 
                                [model]="exportButtonItems" 
                                styleClass="p-button-help"
                                severity="help" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="lastName">Név <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="roomNum">Szoba <p-sortIcon field="roomNum"></p-sortIcon></th>
                        <th pSortableColumn="diet">Étrend <p-sortIcon field="diet"></p-sortIcon></th>
                        <th *ngIf="!isOrganizer" pSortableColumn="rfid">NFC <span class="font-light">({{totalTaggedGuests}}/{{totalRecords}})</span> <p-sortIcon field="rfid"></p-sortIcon></th>
                        <th *ngIf="isOrganizer" pSortableColumn="prepaid">Előleget fizetett <p-sortIcon field="prepaid"></p-sortIcon></th>
                        <th pSortableColumn="lastRfidUsage">NFC használat<p-sortIcon field="lastRfidUsage"></p-sortIcon></th>
                        <th pSortableColumn="dateOfArrival">Érkezés <p-sortIcon field="dateOfArrival"></p-sortIcon></th>
                        <th pSortableColumn="dateOfDeparture">Távozás <p-sortIcon field="dateOfDeparture"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th></th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'lastName')"
                                   placeholder="Keresés..."
                                   style="width:14%; min-width:10rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'roomNum')"
                                   placeholder="Keresés..."
                                   style="width:8%; min-width:6rem;"/>
                        </th>
                        <th>
                            <app-diet-selector 
                                (change)="onFilter($event, 'diet')" 
                                [showClear]="true">
                            </app-diet-selector>
                        </th>
                        <th>
                            <input *ngIf="!isOrganizer"
                                   pInputText
                                   type="text"
                                   [(ngModel)]="rfidFilterValue"
                                   (input)="onFilter($event, 'rfid')"
                                   placeholder="Keresés..."
                                   pTooltip="NFC címkére kereshet csippantással és manuális gépeléssel"
                                   tooltipPosition="top"
                                   style="width:12%; min-width:9rem;"/>

                            <p-dropdown 
                                *ngIf="isOrganizer"
                                [options]="prepaidOptions" 
                                [(ngModel)]="prepaidFilterValue"
                                optionLabel="name"
                                optionValue="value"
                                (onChange)="onFilter($event, 'prepaid')"
                                [showClear]="true"
                                placeholder="Válasszon...">
                            </p-dropdown>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'lastRfidUsage')"
                                (onClearClick)="onFilter($event, 'lastRfidUsage')"
                                appendTo="body"
                                dataType="string"
                                placeholder="Keresés..."
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'dateOfArrival')"
                                (onClearClick)="onFilter($event, 'dateOfArrival')"
                                appendTo="body"
                                dataType="string"
                                placeholder="Keresés..."
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'dateOfDeparture')"
                                (onClearClick)="onFilter($event, 'dateOfDeparture')"
                                appendTo="body"
                                dataType="string"
                                placeholder="Keresés..."
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-guest let-expanded="expanded">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="guest"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-button type="button" styleClass="p-button-rounded p-button-text" pRipple [pRowToggler]="guest" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td>
                            <span class="p-column-title">Név</span>
                            {{guest.lastName}} {{guest.firstName}} ({{getAge(guest.birthDate)}})
                            <span *ngIf="guest.rfid" class="pi pi-tag"></span>
                        </td>
                        <td class="text-center" style="white-space: break-spaces">
                            <span class="p-column-title">Szoba</span>
                            {{guest.roomNum}}
                        </td>
                        <td>
                            <span *ngIf="hasDietName(guest.diet)" [ngClass]="'color-badge ' + guest?.dietDetails?.color">
                                {{guest.diet}}
                            </span>
                            <span class="p-column-title">Étrend</span>
                            <p-tag *ngIf="!hasDietName(guest.diet)"
                                    icon="pi pi-exclamation-triangle"
                                    severity="warning"
                                    value="Hibás étrend"
                                    pTooltip="Kérem módosítsa az étrendet!" />
                        </td>
                        <td *ngIf="!isOrganizer">
                            <span class="p-column-title">NFC</span>
                            {{guest.rfid}}
                        </td>
                        <td *ngIf="isOrganizer">
                            <span class="p-column-title">Előleget fizetett</span>
                            {{guest.prepaid ? 'Igen' : 'Nem'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Utolsó NFC használat</span>
                            {{guest.lastRfidUsage | date:'yyyy.MM.dd HH:mm:ss' }}
                        </td>
                        <td style="width:9%; min-width:8rem;">
                            <span class="p-column-title">Érkezés</span>
                            <span class="calendar-badge">
                                <i class="pi pi-calendar mr-1"></i>
                                {{guest.dateOfArrival | date:'yyyy.MM.dd'}}
                            </span>
                        </td>
                        <td style="width:9%; min-width:8rem;">
                            <span class="p-column-title">Távozás</span>
                            <span class="calendar-badge">
                                <i class="pi pi-calendar mr-1"></i>
                                {{guest.dateOfDeparture | date:'yyyy.MM.dd'}}
                            </span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-tags" class="p-button-rounded p-button-success mr-2" (click)="assignTag(guest)" [disabled]="!canAssign"></button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(guest)" [disabled]="!canEdit"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="tableItem = guest; deleteDialog = true" [disabled]="!canDelete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-guest>
                    <tr>
                        <td colspan="10">
                            <div class="p-2">
                                <div class="w-full">
                                    <div class="grid w-full">
                                        <div class="col-5">
                                            <table cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td class="font-medium">Születési dátum</td>
                                                    <td>{{guest.birthDate | date:'yyyy.MM.dd'}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Nem:</td>
                                                    <td>{{guest.gender == 1 ? 'Férfi' : 'Nő'}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Nemzetiség:</td>
                                                    <td>
                                                        <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + guest.nationality?.toLowerCase()" style="width:18px"/>
                                                        {{ getNationalityInHungarian(guest.nationality) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Ország:</td>
                                                    <td><img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + getCountryCode(guest.country)" style="width:18px"/>
                                                        {{ getCountryNameInHungarian(guest.country) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Telefon:</td>
                                                    <td>{{guest.telephone}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Email:</td>
                                                    <td>{{guest.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Irányítószám:</td>
                                                    <td>{{guest.zipCode}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Fizetési mód:</td>
                                                    <td>{{guest.payment}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Első étkezés:</td>
                                                    <td>{{guest.firstMeal}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Utolsó étkezés:</td>
                                                    <td>{{guest.lastMeal}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Konferencia:</td>
                                                    <td>{{guest.conferenceName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Szoba típus:</td>
                                                    <td>{{guest.roomType}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Kivel laknál egy szobában:</td>
                                                    <td>{{guest.roomMate}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Babaágyat kér:</td>
                                                    <td>{{guest.babyBed == true ? 'Igen' : 'Nem'}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-medium">Klímát kér:</td>
                                                    <td>{{guest.climate == true ? 'Igen' : 'Nem'}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-7">
                                            
                                            <!-- Kérdések - Válaszok -->
                                            <div *ngFor="let answer of guest.answers">
                                                <div *ngFor="let translation of answer.translations">
                                                    <div class="flex flex-column w-full mb-4">
                                                        <div class="font-medium mb-1">
                                                            {{ translation.hu }}
                                                            <span *ngIf="!translation.hu.trim().endsWith('?')">?</span>
                                                        </div>
                                                        <div>{{ translation.answers }}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Személyi igazolvány letöltése -->
                                            <div class="flex flex-column w-full mb-4">
                                                <div class="font-medium mb-1">Személyi igazolvány</div>
                                                <div>
                                                    <button pButton
                                                            type="button"
                                                            icon="pi pi-download"
                                                            class="p-button-rounded p-button-outlined" 
                                                            pTooltip="Személyi igazolvány letöltése" 
                                                            tooltipPosition="bottom" 
                                                            (click)="downloadIdCard(guest.idcard)">
                                                    </button>
                                                </div>
                                                <div>
                                                    <p-skeleton 
                                                        *ngIf="!imageUrl" 
                                                        width="250px" 
                                                        height="164px" />
                                                    
                                                    <p-image 
                                                        *ngIf="imageUrl"
                                                        [src]="imageUrl" 
                                                        alt="Image" 
                                                        width="250" 
                                                        [preview]="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="cols.length + 3" class="text-center">Nincs találat...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- New / Update sidebar -->
        <p-sidebar 
            id="sidebar" 
            [(visible)]="sidebar" 
            position="right" 
            styleClass="p-sidebar-lg"
            [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" 
            [fullScreen]="isMobile"
            [blockScroll]="true">
            
            <!-- Sidebar header -->
            <ng-template pTemplate="header">
                <span class="font-semibold text-xl">
                    {{ id?.value ? 'Vendég adatai' : 'Új vendég' }}
                </span>
            </ng-template>

            <form [formGroup]="guestForm" (ngSubmit)="save()" novalidate class="grid formgrid p-fluid">
                
                <!-- Guest Id -->
                <input formControlName="id" type="hidden">

                <!-- lastName -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="lastName" class="font-medium text-900">Vezetéknév</label>
                    <input id="lastName" type="text" pInputText formControlName="lastName">
                    <div *ngIf="lastName?.dirty && lastName?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- firstName -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="firstName" class="font-medium text-900">Keresztnév</label>
                    <input id="firstName" type="text" pInputText formControlName="firstName">
                    <div *ngIf="firstName?.dirty && firstName?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- gender -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="gender" class="font-medium text-900">Neme</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="gender" value="1" formControlName="gender" inputId="gender1"></p-radioButton>
                            <label for="gender1" class="ml-2">Férfi</label>
                        </div>

                        <div class="flex align-items-center">
                            <p-radioButton name="gender" value="2" formControlName="gender" inputId="gender2"></p-radioButton>
                            <label for="gender2" class="ml-2">Nő</label>
                        </div>
                    </div>
                    <div *ngIf="gender?.dirty && gender?.errors?.['required']" class="p-error">
                        Neme kötelező
                    </div>
                </div>

                <!-- birthDate -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="birthDate" class="font-medium text-900">Születési dátum</label>
                    <p-calendar id="birthDate"
                                formControlName="birthDate"
                                [defaultDate]="birthDateMax"
                                [minDate]="birthDateMin" 
                                [maxDate]="birthDateMax" 
                                dateFormat="yy-mm-dd" 
                                dataType="string"
                                appendTo="body">
                    </p-calendar>
                    <div *ngIf="birthDate?.dirty && birthDate?.errors?.['required']" class="p-error">
                        Születési dátum kötelező
                    </div>
                </div>

                <!-- nationality -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="nationality" class="font-medium text-900">Állampolgárság</label>
                    <app-nationality-selector [parentForm]="guestForm" controlName="nationality"></app-nationality-selector>
                    <div *ngIf="nationality?.dirty && nationality?.errors?.['required']" class="p-error">
                        Állampolgárság kötelező
                    </div>
                </div>

                <!-- country -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="country" class="font-medium text-900">Lakóhely - ország</label>
                    <app-country-selector [parentForm]="guestForm" controlName="country"></app-country-selector>
                    <div *ngIf="country?.dirty && country?.errors?.['required']" class="p-error">
                        Ország kötelező
                    </div>
                </div>

                <!-- zipCode -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="zipCode" class="font-medium text-900">Lakóhely - irányítószám</label>
                    <input id="zipCode" type="text" pInputText formControlName="zipCode">
                    <div *ngIf="zipCode?.dirty && zipCode?.errors?.['required']" class="p-error">
                        Irányítószám kötelező
                    </div>
                </div>

                <!-- email -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" autocomplete="email">
                    <div *ngIf="email?.dirty" class="p-error">
                        <div *ngIf="email?.errors?.['required']">
                            Email kötelező
                        </div>
                        <div *ngIf="email?.errors?.['email']">
                            Nem megfelelő email formátum
                        </div>
                    </div>
                </div>

                <!-- telephone -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="telephone" class="font-medium text-900">Telefon</label>
                    <input id="telephone" type="text" pInputText formControlName="telephone">
                    <div *ngIf="telephone?.dirty && telephone?.errors?.['required']" class="p-error">
                        Telefon kötelező
                    </div>
                </div>

                <!-- conferenceName -->
                <div class="field mb-4 col-8">
                    <label for="conferenceName" class="font-medium text-900">Konferencia</label>
                    <app-conference-selector
                        [parentForm]="guestForm" 
                        controlName="conferenceName"
                        [showClear]="true"
                        placeholder="Válasszon konferenciát...">
                    </app-conference-selector>
                    <div *ngIf="conferenceName?.dirty && conferenceName?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- roomNum -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="roomNum" class="font-medium text-900">Szoba</label>
                    <input id="roomNum" type="text" pInputText formControlName="roomNum" readonly>
                </div>

                <!-- dateOfArrival -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="dateOfArrival" class="font-medium text-900">Érkezés dátuma</label>
                    <p-calendar id="dateOfArrival"
                                formControlName="dateOfArrival"
                                [ngClass]="{'ng-invalid': guestForm.errors?.['dateRangeInvalid']}"
                                [defaultDate]="beginDate"
                                [minDate]="beginDate" 
                                [maxDate]="endDate"
                                dateFormat="yy-mm-dd"
                                dataType="string"
                                appendTo="body">
                    </p-calendar>
                    <div *ngIf="dateOfArrival?.dirty && dateOfArrival?.errors?.['required']" class="p-error">
                        Kérjük, adja meg az érkezés dátumát!
                    </div>
                    <div *ngIf="guestForm.errors?.['dateRangeInvalid']" class="p-error">
                        Az érkezés dátumának korábbinak kell lennie, mint a távozási dátum!
                    </div>
                </div>

                <!-- firstMeal -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="firstMeal" class="font-medium text-900">Első étkezés</label>
                    <app-meal-selector 
                        [parentForm]="guestForm" 
                        controlName="firstMeal"
                        [earliestMeal]="earliestFirstMeal"
                        [latestMeal]="latestFirstMeal"  
                        [showNothing]="true">
                    </app-meal-selector>
                    <div *ngIf="firstMeal?.dirty && firstMeal?.errors?.['required']" class="p-error">
                        Kérjük, válassza ki az első étkezését!
                    </div>
                </div>

                <!-- diet -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="diet" class="font-medium text-900">Étrend</label>
                    <app-diet-selector [parentForm]="guestForm" controlName="diet"></app-diet-selector>
                    <div *ngIf="diet?.dirty && diet?.errors?.['required']" class="p-error">
                        Kérjük, válassza ki az étrendjét!
                    </div>
                </div>

                <!-- dateOfDeparture -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="dateOfDeparture" class="font-medium text-900">Távozás dátuma</label>
                    <p-calendar id="dateOfDeparture"
                                formControlName="dateOfDeparture"
                                [ngClass]="{'ng-invalid': guestForm.errors?.['dateRangeInvalid']}"
                                [defaultDate]="beginDate"
                                [minDate]="beginDate" 
                                [maxDate]="endDate"
                                dateFormat="yy-mm-dd"
                                dataType="string"
                                appendTo="body">
                    </p-calendar>
                    <div *ngIf="dateOfDeparture?.dirty && dateOfDeparture?.errors?.['required']" class="p-error">
                        Kérjük, adja meg a távozás dátumát!
                    </div>
                    <div *ngIf="guestForm.errors?.['dateRangeInvalid']" class="p-error">
                        A távozás dátumának későbbinek kell lennie, mint az érkezési dátum!
                    </div>
                </div>
                
                <!-- lastMeal -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="lastMeal" class="font-medium text-900">Utolsó étkezés</label>
                    <app-meal-selector 
                        [parentForm]="guestForm" 
                        controlName="lastMeal" 
                        [earliestMeal]="earliestLastMeal" 
                        [latestMeal]="latestLastMeal" 
                        [showNothing]="true">
                    </app-meal-selector>
                    <div *ngIf="lastMeal?.dirty && lastMeal?.errors?.['required']" class="p-error">
                        Kérjük, válassza ki az utolsó étkezését!
                    </div>
                </div>

                <!-- babyBed -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="babyBed" class="font-medium text-900">Babaágyat kérsz?</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="babyBed" value="1" formControlName="babyBed" inputId="baby-bed-yes"></p-radioButton>
                            <label for="baby-bed-yes" class="ml-2">Igen</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="babyBed" value="0" formControlName="babyBed" inputId="baby-bed-no"></p-radioButton>
                            <label for="baby-bed-no" class="ml-2">Nem</label>
                        </div>
                    </div>
                    <div *ngIf="babyBed?.dirty && babyBed?.errors?.['required']" class="p-error">
                        Kérjük válassza ki, hogy kér-e babaágyat!
                    </div>
                </div>

                <!-- roomType -->
                <div class="field mb-4 col-12 lg:col-8">
                    <label for="roomType" class="font-medium text-900">Szállástípus</label>
                    <app-roomtype-selector 
                        [parentForm]="guestForm" 
                        controlName="roomType">
                    </app-roomtype-selector>
                    <div *ngIf="roomType?.dirty && roomType?.errors?.['required']" class="p-error">
                        Kérjük válassza ki a szállástípust!
                    </div>
                </div>

                <!-- payment -->
                <div class="field mb-4 col-12 lg:col-4">
                    <label for="payment" class="font-medium text-900">Fizetési mód</label>
                    <app-payment-selector 
                        [parentForm]="guestForm" 
                        controlName="payment">
                    </app-payment-selector>
                    <div *ngIf="payment?.dirty && payment?.errors?.['required']" class="p-error">
                        Kérjük válassza ki a fizetési módot!
                    </div>
                </div>

                <!-- idCard -->
                <div class="field mb-4 col-12 lg:col-8">
                    <label for="idCard" class="font-medium text-900">Személyi igazolvány</label>
                    <app-reactive-file-upload
                        name="idCard"
                        formControlName="idCard" 
                        accept=".jpg,.jpeg,.png" 
                        chooseLabel="Tallózás" 
                        cancelLabel="Mégsem">
                    </app-reactive-file-upload>
                    <div *ngIf="idCard?.dirty && idCard?.errors?.['required']" class="p-error">
                        Kérjük, töltse fel a személyi igazolványának másolatát!
                    </div>
                </div>

                <div class="field mb-4 col-12 lg:col-4">
                    
                    <!-- climate -->
                    <label for="climate" class="font-medium text-900">Klímát kérsz?</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="climate" value="1" formControlName="climate" inputId="climate-yes"></p-radioButton>
                            <label for="climate-yes" class="ml-2">Igen</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="climate" value="0" formControlName="climate" inputId="climate-no"></p-radioButton>
                            <label for="climate-no" class="ml-2">Nem</label>
                        </div>
                    </div>
                    <div *ngIf="prepaid?.dirty && prepaid?.errors?.['required']" class="p-error">
                        Kérjük válassza ki, hogy kér-e babaágyat!
                    </div>

                    <!-- prepaid -->
                    <label for="prepaid" class="font-medium text-900">Előleget fizetett?</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="prepaid" value="1" formControlName="prepaid" inputId="prepaid-yes"></p-radioButton>
                            <label for="prepaid-yes" class="ml-2">Igen</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="prepaid" value="0" formControlName="prepaid" inputId="prepaid-no"></p-radioButton>
                            <label for="prepaid-no" class="ml-2">Nem</label>
                        </div>
                    </div>
                    <div *ngIf="prepaid?.dirty && prepaid?.errors?.['required']" class="p-error">
                        Kérjük válassza ki, hogy kér-e babaágyat!
                    </div>
                </div>
            </form>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end ap-2">
                    <button pButton 
                            pRipple 
                            label="Mégsem" 
                            icon="pi pi-times" 
                            class="p-button-outlined"
                            (click)="cancel()" 
                            [disabled]="!guestForm.dirty">
                    </button>
                    <button pButton 
                            pRipple 
                            label="Mentés" 
                            icon="pi pi-check" 
                            class="p-button ml-2" 
                            (click)="save()"
                            [disabled]="!guestForm.valid || !guestForm.dirty">
                    </button>
                </div>
            </ng-template>
        </p-sidebar>

        <!-- Delete dialog -->
        <p-dialog [(visible)]="deleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="guest">Biztosan törölni akarja <b>{{guest.lastName}} {{guest.firstName}}</b>-t?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="deleteDialog = false"></button>
                <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="delete()"></button>
            </ng-template>
        </p-dialog>

        <!-- Bulk Delete dialog -->
        <p-dialog [(visible)]="bulkDeleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztosan törölni akarja a kiválasztott vendégeket?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="bulkDeleteDialog = false"></button>
                <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="deleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <!-- Assign Tag dialog -->
        <p-dialog [(visible)]="tagDialog" [style]="{width: '450px'}" header="NFC címke vendéghez rendelés" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="identifier">Címke azonosító</label>
                        <input #identifier pInputText type="text" [(ngModel)]="scannedCode" readonly autofocus />
                        <!-- <span>{{scannedCode.length}}</span> -->
                    </div>
                </div>
                <div class="text-center">
                    <button pButton pRipple label="Címke visszavétel" icon="pi pi-trash" class="p-button-danger" (click)="unAssignTag()" [disabled]="!guest.rfid?.length"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="hideTagDialog()"></button>
                <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="saveTag()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast></p-toast>
