.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.status-outofstock {
        background: var(--pink-200);
        color: var(--pink-800);
    }

    &.status-lowstock {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }
}

.product-badge-text {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
        color: var(--green-500);
    }

    &.status-outofstock {
        color: var(--pink-500);
    }

    &.status-lowstock {
        color: var(--yellow-500);
    }
}

.customer-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-qualified {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.status-unqualified {
        background: var(--pink-200);
        color: var(--pink-800);
    }

    &.status-negotiation {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.status-new {
        background: var(--blue-200);
        color: var(--blue-800);
    }

    &.status-renewal {
        background: var(--purple-200);
        color: var(--purple-800);
    }

    &.status-proposal {
        background: var(--orange-200);
        color: var(--orange-800);
    }
}

.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}

/* User roles */
.user-role-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.role-superadmin {
        background: var(--purple-200);
        color: var(--purple-800);
    }

    &.role-nagyadmin {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.role-kisadmin {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.role-szervezo {
        background: var(--cyan-200);
        color: var(--cyan-800);
    }
}

/* Action types */
.action-type-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.create {
        background: var(--teal-200);
        color: var(--teal-800);
    }

    &.update {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.delete {
        background: var(--red-200);
        color: var(--red-800);
    }

    &.bulkdelete {
        background: var(--red-200);
        color: var(--red-800);
    }

    &.scanned {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.assign {
        background: var(--teal-200);
        color: var(--teal-800);
    }

    &.unassign {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.same {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.duplicate {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.already {
        background: var(--red-200);
        color: var(--red-800);
    }

    &.unknown {
        background: var(--red-200);
        color: var(--red-800);
    }

    &.import {
        background: var(--teal-200);
        color: var(--teal-800);
    }
}

/* HTTP Statuses */
.http-status-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-200 {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.status-201 {
        background: var(--teal-200);
        color: var(--teal-800);
    }

    &.status-400 {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.status-500 {
        background: var(--red-200);
        color: var(--red-800);
    }
}

/* Diets */
.diet-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.normal {
        background: var(--surface-800);
        color: var(--surface-200);
    }

    &.milkfree {
        background: var(--blue-200);
        color: var(--blue-800);
    }

    &.lactosefree {
        background: var(--blue-200);
        color: var(--blue-800);
    }

    &.glutenfree {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.gluten-lactose-milkfree {
        background: var(--red-200);
        color: var(--red-800);
    }

    &.vegetarian {
        background: var(--teal-200);
        color: var(--teal-800);
    }

    &.nothing {
        background: var(--gray-200);
        color: var(--gray-800);
    }
}

/* Meals */
.meal-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.breakfast {
        background: var(--teal-200);
        color: var(--teal-800);
    }

    &.lunch {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.dinner {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.nothing {
        background: var(--gray-200);
        color: var(--gray-800);
    }
}

/* Payments */
.payment-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.bank-transfer {
        background: var(--purple-200);
        color: var(--purple-800);
    }

    &.szep-card {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.cash {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    i {
        line-height: 23px;
        vertical-align: middle;
    }
}