<ul class="layout-menu">
    <ng-container *ngFor="let item of model">
        <li *ngIf="!item.separator" app-menuitem [item]="item" [root]="true">
            <ng-container *ngFor="let subItem of item.items">
                <li *ngIf="subItem.show$ | async">
                    <a [routerLink]="subItem.routerLink">
                        <i [class]="subItem.icon"></i>
                        <span>{{ subItem.label }}</span>
                    </a>
                </li>
            </ng-container>
        </li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
