<div class="grid">
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-toast></p-toast>
            <p-table #dt
                     dataKey="id"
                     [value]="tableData"
                     [columns]="cols"
                     responsiveLayout="scroll"
                     [rows]="rowsPerPage"
                     [totalRecords]="totalRecords"
                     [globalFilterFields]="['firstName', 'lastName', 'rfid', 'roomNum', 'diet', 'birthDate', 'dateOfArrival', 'dateOfDeparture', 'firstMeal', 'lastMeal']"
                     [paginator]="true"
                     [rowsPerPageOptions]="rowsPerPageOptions"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} bejegyzés a(z) {totalRecords}-ból megjelenítése"
                     [(selection)]="selectedGuests"
                     selectionMode="multiple"
                     [tableStyle]="{'min-height': 'calc(100vh - 320px)'}"
                     [rowHover]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [lazy]="true" >

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Vendégek</h5>
                        <span class="block mt-2 md:mt-0">
                            <p-dropdown
                                [options]="conferences"
                                [(ngModel)]="selectedConference"
                                optionLabel="name"
                                [showClear]="true"
                                (onChange)="onConferenceChange()"
                                placeholder="Válasszon konferenciát...">
                            </p-dropdown>
                        </span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left w-full sm:w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés bármely vendégadatra..." style="min-width: 300px;"/>
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedGuests()" [disabled]="!selectedGuests || !selectedGuests.length"></button>
                            <p-fileUpload
                                #fileUpload
                                mode="basic"
                                label="Import"
                                chooseLabel="Import"
                                class="mr-2 inline-block"
                                chooseIcon="pi pi-upload"
                                name="file"
                                url="{{apiURL}}/guest/import"
                                accept=".xlsx"
                                [auto]="true"
                                [maxFileSize]="9999999"
                                (onSend)="onSend($event)"
                                (onError)="onUploadError($event, fileUpload)"
                                (onUpload)="onUpload($event)"
                                pTooltip="Kizárólag a táblázathoz tartozó Excel fájl importálható"
                                tooltipPosition="top"/>
                            <!-- <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help" (click)="dt.exportCSV()"></button> -->
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="lastName">Név <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="roomNum">Szoba <p-sortIcon field="roomNum"></p-sortIcon></th>
                        <th pSortableColumn="diet">Étrend <p-sortIcon field="diet"></p-sortIcon></th>
                        <th pSortableColumn="rfid">RFID <span class="font-light">({{totalTaggedGuests}}/{{totalRecords}})</span> <p-sortIcon field="rfid"></p-sortIcon></th>
                        <th pSortableColumn="lastRfidUsage">RFID használat<p-sortIcon field="lastRfidUsage"></p-sortIcon></th>
                        <th pSortableColumn="dateOfArrival">Érkezés <p-sortIcon field="dateOfArrival"></p-sortIcon></th>
                        <th pSortableColumn="dateOfDeparture">Távozás <p-sortIcon field="dateOfDeparture"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th></th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'lastName')"
                                   placeholder="Keresés..."
                                   style="width:14%; min-width:10rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'roomNum')"
                                   placeholder="Keresés..."
                                   style="width:8%; min-width:6rem;"/>
                        </th>
                        <th>
                            <p-dropdown
                                inputId="dietFilter"
                                [options]="diets"
                                optionLabel="name"
                                optionValue="name"
                                placeholder="Keresés étrendre..."
                                emptyMessage="Nincs találat..."
                                [showClear]="true"
                                (onChange)="onFilter($event, 'diet')">
                                <ng-template pTemplate="selectedItem">
                                    <p-tag [value]="filterValues['diet']"
                                           [style]="{'background': 'var(--'+getDietColor(filterValues['diet'])+')'}">
                                    </p-tag>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.name"
                                           [style]="{'background': 'var(--'+getDietColor(option.name)+')'}">
                                    </p-tag>
                                </ng-template>
                            </p-dropdown>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   [(ngModel)]="rfidFilterValue"
                                   (input)="rfidFilterValue = rfidFilterValue.replaceAll('ö', '0'); onFilter($event, 'rfid')"
                                   placeholder="Keresés..."
                                   pTooltip="Azonosítóra kereshet csippantással és manuális gépeléssel is"
                                   tooltipPosition="top"
                                   style="width:12%; min-width:9rem;"/>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'lastRfidUsage')"
                                (onClearClick)="onFilter($event, 'lastRfidUsage')"
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'dateOfArrival')"
                                (onClearClick)="onFilter($event, 'dateOfArrival')"
                                appendTo="body"
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th>
                            <p-calendar
                                (onSelect)="onFilter($event, 'dateOfDeparture')"
                                (onClearClick)="onFilter($event, 'dateOfDeparture')"
                                appendTo="body"
                                [showButtonBar]="true">
                            </p-calendar>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-guest let-expanded="expanded">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="guest"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-button type="button" styleClass="p-button-rounded p-button-text" pRipple [pRowToggler]="guest" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td>
                            <span class="p-column-title">Név</span>
                            {{guest.lastName}} {{guest.firstName}}
                            <span *ngIf="guest.rfid" class="pi pi-tag"></span>
                        </td>
                        <td class="text-center" style="white-space: break-spaces">
                            <span class="p-column-title">Szoba</span>
                            {{guest.roomNum}}
                        </td>
                        <td>
                            <span class="p-column-title">Étrend</span>
                            <p-tag *ngIf="guest.diet"
                                   [value]="guest.diet"
                                   [style]="{'background': 'var(--'+getDietColor(guest.diet)+')'}">
                            </p-tag>
                        </td>
                        <td>
                            <span class="p-column-title">RFID</span>
                            {{guest.rfid}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Utolsó RFID használat</span>
                            {{guest.lastRfidUsage | date:'yyyy.MM.dd HH:mm:ss':'UTC' }}
                        </td>
                        <td style="width:9%; min-width:8rem;">
                            <span class="p-column-title">Érkezés</span>
                            {{guest.dateOfArrival | date:'yyyy.MM.dd'}}
                        </td>
                        <td style="width:9%; min-width:8rem;">
                            <span class="p-column-title">Távozás</span>
                            {{guest.dateOfDeparture | date:'yyyy.MM.dd'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-tags" class="p-button-rounded p-button-success mr-2" (click)="assignTag(guest)"></button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editGuest(guest)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteGuest(guest)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-guest>
                    <tr>
                        <td colspan="10">
                            <div class="p-2">
                                <table cellspacing="0" cellpadding="5">
                                    <tr>
                                        <td class="font-medium">Születési dátum</td>
                                        <td>{{guest.birthDate | date:'yyyy.MM.dd'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Nem:</td>
                                        <td>{{guest.gender == 1 ? 'Férfi' : 'Nő'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Nemzetiség:</td>
                                        <td>{{guest.nationality}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Ország:</td>
                                        <td>{{guest.country}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Irányítószám:</td>
                                        <td>{{guest.zipCode}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">SZÉP kártya:</td>
                                        <td>{{guest.szepCard?.toLowerCase() == 'true' ? 'Igen' : 'Nem'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Első étkezés:</td>
                                        <td>{{guest.firstMeal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Utolsó étkezés:</td>
                                        <td>{{guest.lastMeal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Konferencia:</td>
                                        <td>{{guest.conferenceName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-medium">Extra:</td>
                                        <td>{{guest.accommodationExtra}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="cols.length + 3" class="text-center">Nincs találat...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="guestDialog" [style]="{width: '450px'}" header="Vendég adatai" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="lastName">Vezetéknév</label>
                        <input type="text" pInputText [(ngModel)]="guest.lastName" />
                    </div>
                    <div class="field col">
                        <label for="firstName">Keresztnév</label>
                        <input type="text" pInputText [(ngModel)]="guest.firstName" />
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="roomNum">Szoba</label>
                        <input type="text" pInputText [(ngModel)]="guest.roomNum" />
                    </div>
                    <div class="field col">
                        <label for="rfid">RFID</label>
                        <input type="text" pInputText [(ngModel)]="guest.rfid" />
                    </div>
                </div>
                <div class="field">
                    <label for="conferences">Konferencia</label>
                    <p-dropdown
                        inputId="conferences"
                        [options]="conferences"
                        optionLabel="name"
                        optionValue="name"
                        [(ngModel)]="guest.conferenceName"
                        placeholder="Válasszon konferenciát...">
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="diet">Étrend</label>
                    <p-dropdown
                        inputId="dialogDiet"
                        [options]="diets"
                        [(ngModel)]="guest.diet"
                        optionLabel="name"
                        optionValue="name"
                        placeholder="Válassz étrendet..."
                        emptyMessage="Nincs találat...">
                        <ng-template pTemplate="selectedItem">
                            <p-tag [value]="guest.diet"
                                   [style]="{'background': 'var(--'+getDietColor(guest.diet || '')+')'}">
                            </p-tag>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.name"
                                   [style]="{'background': 'var(--'+getDietColor(option.name)+')'}">
                            </p-tag>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="dateOfArrival">Érkezés</label>
                        <p-calendar
                            [(ngModel)]="guest.dateOfArrival"
                            appendTo="body"
                            dateFormat="yy-mm-dd"
                            [showButtonBar]="true">
                        </p-calendar>
                    </div>
                    <div class="field col">
                        <label for="firstMeal">Első étkezés</label>
                        <p-dropdown
                            [options]="meals"
                            [(ngModel)]="guest.firstMeal"
                            placeholder="Válassz...">
                        </p-dropdown>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="dateOfDeparture">Távozás</label>
                        <p-calendar
                            [(ngModel)]="guest.dateOfDeparture"
                            appendTo="body"
                            dateFormat="yy-mm-dd"
                            [showButtonBar]="true">
                        </p-calendar>
                    </div>
                    <div class="field col">
                        <label for="lastMeal">Utolsó étkezés</label>
                        <p-dropdown
                            [options]="meals"
                            [(ngModel)]="guest.lastMeal"
                            placeholder="Válassz...">
                        </p-dropdown>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="gender">Nem</label>
                        <p-dropdown
                            [options]="genders"
                            [(ngModel)]="guest.gender"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Válassz nemet..."
                            emptyMessage="Nincs találat...">
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label for="birthDate">Születési dátum</label>
                        <p-calendar
                            [(ngModel)]="guest.birthDate"
                            appendTo="body"
                            [showButtonBar]="true"
                            dateFormat="yy-mm-dd">
                        </p-calendar>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="country">Ország</label>
                        <p-dropdown inputId="country"
                                    [(ngModel)]="guest.country"
                                    [options]="countries"
                                    optionLabel="huname"
                                    optionValue="name"
                                    [filter]="true"
                                    filterBy="huname"
                                    placeholder="Válasszon..."
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="30">
                            <ng-template let-country pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="guest.country">
                                    <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                                    <div>{{guest.country}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="flex align-items-center">
                                    <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                    <div>{{country.huname}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label for="nationality">Nemzetiség</label>
                        <p-dropdown inputId="nationality"
                                    [(ngModel)]="guest.nationality"
                                    [options]="countries"
                                    optionLabel="hunationality"
                                    optionValue="code"
                                    [filter]="true"
                                    filterBy="hunationality"
                                    placeholder="Válasszon..."
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="30">
                            <ng-template let-country pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="guest.nationality">
                                    <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                                    <div>{{guest.nationality}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="flex align-items-center">
                                    <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                    <div>{{country.hunationality}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <!-- TODO: Use Boolean for szepCard in DB -->
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="szepCard">SZÉP kártya</label>
                        <input type="text" pInputText [(ngModel)]="guest.szepCard" />
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="accommodationExtra">Szállás extra</label>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="guest.accommodationExtra"></textarea>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="saveGuest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteGuestDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="guest">Biztosan törölni akarja <b>{{guest.lastName}} {{guest.firstName}}</b>-t?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="deleteGuestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteGuestsDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztosan törölni akarja a kiválasztott vendégeket?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="deleteGuestsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="tagDialog" [style]="{width: '450px'}" header="RFID címke vendéghez rendelés" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="identifier">Címke azonosító</label>
                        <input pInputText type="text" id="identifier" [(ngModel)]="scannedCode" readonly autofocus />
                        <!-- <span>{{scannedCode.length}}</span> -->
                    </div>
                </div>
                <div class="text-center">
                    <button pButton pRipple label="Címke visszavétel" icon="pi pi-trash" class="p-button-danger" (click)="unAssignTag()" [disabled]="!guest.rfid?.length"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="hideTagDialog()"></button>
                <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast></p-toast>
