<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Új konferencia</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Konferencia</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Az űrlap kitöltésével létrehozhat új konferenciát</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nickname" class="font-medium text-900">Konferencia neve</label>
                    <input id="nickname" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="avatar" class="font-medium text-900">Prospektus</label>
                    <p-fileUpload mode="basic" name="avatar" url="./upload.php" accept="image/*" [maxFileSize]="1000000" styleClass="p-button-outlined p-button-plain" chooseLabel="Kép feltöltése"></p-fileUpload>
                </div>
                <div class="field mb-4 col-12">
                    <label for="bio" class="font-medium text-900">Leírás</label>
                    <textarea id="bio" type="text" pInputTextarea rows="5" [autoResize]="true"></textarea>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="beginDate" class="font-medium text-900">Kezdete</label>
                    <p-calendar id="beginDate" [(ngModel)]="konferencia.beginDate" dateFormat="yy.mm.dd"></p-calendar>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="endDate" class="font-medium text-900">Vége</label>
                    <p-calendar id="endDate" [(ngModel)]="konferencia.endDate" dateFormat="yy.mm.dd"></p-calendar>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900">Kapcsolattartó email címe</label>
                    <input id="email" type="text" pInputText>
                </div>
                <!-- <div class="field mb-4 col-12 md:col-6">
                    <label for="country" class="font-medium text-900">Helyszín</label>
                    <p-dropdown inputId="country" [options]="countries" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div> -->
                <div class="field mb-4 col-12 md:col-6">
                    <label for="city" class="font-medium text-900">Kapcsolattartó telefonszáma</label>
                    <input id="city" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="website" class="font-medium text-900">Jelentkezési űrlap</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">www</span>
                        <input id="website" type="text" pInputText>
                    </div>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Mentés" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
