<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block"> Felhasználó</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Profil</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Személyes adatok karbantartása</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <form [formGroup]="userForm" class="w-full px-2 grid formgrid p-fluid">
                    <!-- <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages> -->
                    <input formControlName="id" type="hidden">
                    <input formControlName="username" type="hidden">

                    <div class="field mb-4 col-12 md:col-6">
                        <label for="fullname" class="font-medium text-900">Név</label>
                        <input pInputText type="text" id="fullname" formControlName="fullname" autofocus />
                        <div *ngIf="userForm.get('fullname')?.invalid && userForm.get('fullname')?.dirty">
                            <small *ngIf="userForm.get('fullname')?.errors?.['required']" class="p-error">Kötelező kitölteni</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="user_rolesid" class="font-medium text-900">Szerepkör</label>
                        <p-dropdown
                            id="user_rolesid"
                            formControlName="user_rolesid"
                            [options]="roles"
                            optionLabel="name"
                            optionValue="id"
                            placeholder="Válasszon szerepkört..."
                            emptyMessage="Nincs találat..."
                            [showClear]="true"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="30">
                            <ng-template let-option pTemplate="item">
                                <span [ngClass]="getRoleStyleClass(option.id)">
                                    {{option.name}}
                                </span>
                            </ng-template>
                            <ng-template pTemplate="selectedItem">
                                <span [ngClass]="getRoleStyleClass(userForm.get('user_rolesid')?.value)">
                                    {{getRoleName(userForm.get('user_rolesid')?.value)}}
                                </span>
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="userForm.get('user_rolesid')?.invalid && userForm.get('user_rolesid')?.dirty">
                            <small *ngIf="userForm.get('user_rolesid')?.errors?.['required']" class="p-error">Kötelező kitölteni</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="email" class="font-medium text-900">Email</label>
                        <input pInputText type="text" id="email" formControlName="email" />
                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty">
                            <small *ngIf="userForm.get('email')?.errors?.['required']" class="block p-error">Kötelező kitölteni</small>
                            <small *ngIf="userForm.get('email')?.errors?.['invalidEmail']" class="block p-error">Nem megfelelő email formátum</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="phone" class="font-medium text-900">Telefon</label>
                        <input pInputText type="text" id="phone" formControlName="phone" />
                        <div *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.dirty">
                            <small *ngIf="userForm.get('phone')?.errors?.['required']" class="p-error">Kötelező kitölteni</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="password" class="font-medium text-900">Jelszó</label>
                        <p-password id="password"
                                    formControlName="password"
                                    [toggleMask]="true"
                                    promptLabel="Adja meg a jelszót"
                                    weakLabel="Túl egyszerű"
                                    mediumLabel="Átlagos"
                                    strongLabel="Komplex jelszó">
                        </p-password>
                        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.dirty">
                            <small *ngIf="userForm.get('password')?.errors?.['required']" class="p-error">Kötelező kitölteni</small>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="password" class="font-medium text-900">Jelszó újra</label>
                        <p-password id="password_again"
                                    formControlName="password_again"
                                    [toggleMask]="true"
                                    [feedback]="false">
                        </p-password>
                        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.dirty">
                            <small *ngIf="userForm.get('password')?.errors?.['required']" class="p-error">Kötelező kitölteni</small>
                        </div>
                        <div *ngIf="userForm.errors?.['passwordsDoNotMatch'] && userForm.get('password')?.dirty">
                            <small class="p-error">A jelszavak nem egyeznek!</small>
                        </div>
                    </div>

                    <div class="field mb-4 col-12 md:col-6"></div>

                    <div class="field col-6 md:col-3">
                        <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="cancel()" [disabled]="!userForm.dirty"></button>
                    </div>
                    <div class="field col-6 md:col-3">
                        <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button" (click)="save()" [loading]="loading" [disabled]="!userForm.valid || !userForm.dirty"></button>
                    </div>
                </form>

                <!-- <div class="field mb-4 col-12">
                    <label for="avatar" class="font-medium text-900">Avatar</label>
                    <p-fileUpload mode="basic" name="avatar" url="./upload.php" accept="image/*" [maxFileSize]="1000000" styleClass="p-button-outlined p-button-plain" chooseLabel="Upload Image"></p-fileUpload>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<!-- Notifications -->
<p-toast></p-toast>
