<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" [disabled]="!selectedRooms || !selectedRooms.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt
                    [value]="szobak"
                    [columns]="cols"
                    responsiveLayout="scroll"
                    [rows]="10"
                    [globalFilterFields]="['szobaszam','szobakod']"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10,20,30]"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="{first} - {last} elem megjelenítése a(z) {totalRecords}-ból"
                    [(selection)]="selectedRooms"
                    selectionMode="multiple"
                    [rowHover]="true"
                    dataKey="id">

                  <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Szobák</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="szobaszam">Szoba szám <p-sortIcon field="szobaszam"></p-sortIcon></th>
                        <th pSortableColumn="szobakod">Szoba kód <p-sortIcon field="szobakod"></p-sortIcon></th>
                        <th pSortableColumn="agyakszama">Ágyak száma <p-sortIcon field="agyakszama"></p-sortIcon></th>
                        <th pSortableColumn="epulet">Épület / folyosó <p-sortIcon field="epulet"></p-sortIcon></th>
                        <th pSortableColumn="agytipus">Ágy típus <p-sortIcon field="agytipus"></p-sortIcon></th>
                        <th pSortableColumn="megjegyzes">Megjegyzés <p-sortIcon field="megjegyzes"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-szoba>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="szoba"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Szoba szám</span>
                            {{szoba.szobaszam}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Szoba kód</span>
                            {{szoba.szobakod}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Ágyak száma</span>
                            {{szoba.agyakszama}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Épület / folyosó</span>
                            {{szoba.epulet}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Ágy típus</span>
                            {{szoba.agytipus}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Megjegyzés</span>
                            {{szoba.megjegyzes}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRoom(szoba)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRoom(szoba)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="roomDialog" [style]="{width: '450px'}" header="Szoba adatai" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="szobaszam">Szoba szám</label>
                        <p-inputNumber id="szobaszam" [(ngModel)]="szoba.szobaszam"></p-inputNumber>
                    </div>
                    <div class="field col">
                      <label for="szobakod">Szoba kód</label>
                      <p-dropdown [(ngModel)]="szoba.szobakod" inputId="szobakod" optionValue="value" [options]="szobaKodok" placeholder="Válassz...">
                          <ng-template pTemplate="selectedItem">
                              <span *ngIf="szoba && szoba.szobakod" [class]="'product-badge szobakod-'">{{szoba.szobakod}}</span>
                          </ng-template>
                          <ng-template let-option pTemplate="item">
                              <span [class]="'product-badge szobakod-' + option.value">{{option.label}}</span>
                          </ng-template>
                      </p-dropdown>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="agyakszama">Ágyak száma</label>
                        <p-inputNumber id="agyakszama" [(ngModel)]="szoba.agyakszama"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="epulet">Épület / folyosó</label>
                        <input type="text" pInputText [(ngModel)]="szoba.epulet" />
                    </div>
                </div>

                <div class="field">
                    <label for="status">Ágy típus</label>
                    <p-dropdown [(ngModel)]="szoba.agytipus" inputId="agytipus" optionValue="label" [options]="agytipusok" placeholder="Válassz...">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="szoba && szoba.agytipus" [class]="'product-badge status-'">{{szoba.agytipus}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                  <label for="status">Matrac</label>
                  <p-dropdown [(ngModel)]="szoba.matrac" inputId="matrac" optionValue="label" [options]="matracok" placeholder="Válassz...">
                      <ng-template pTemplate="selectedItem">
                          <span *ngIf="szoba && szoba.matrac" [class]="'product-badge status-'">{{szoba.matrac}}</span>
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                          <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                  </p-dropdown>
                </div>

                <div class="field">
                    <label for="description">Megjegyzés</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Mégsem" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="saveRoom()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRoomDialog" header="Megerősítés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Biztos vagy benne, hogy törölni akarod a <b>{{product.name}}</b> szobát?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="deleteRoomDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRoomsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztos vagy benne, hogy törölni akarod a szobákat?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Nem" (click)="deleteRoomsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Igen" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
