<div class="relative overflow-hidden flex flex-col justify-center">

    <div class="header" [ngClass]="isOpen ? 'bg-teal-500' : 'bg-red-500' ">
        <div class="flex flex-row flex-wrap items-center justify-between">
            <div class="h-[3rem] flex items-center justify-center pl-3">
                <span class="{{ connectionStatus ? 'bg-green-400' : 'bg-red-400' }} rounded-full w-[2rem] h-[2rem] flex items-center justify-center text-white">
                    <i class="pi pi-wifi" pBadge></i>
                </span>
            </div>
            <div class="h-[3rem] flex items-center justify-center">
                <div class="text-center font-medium text-2xl text-white white-space-nowrap px-3">
                    {{ isOpen ? (currentMeal | titlecase) : "Jelenleg nincs étkeztetés!" }}
                </div>
            </div>
            <div class="h-[3rem] flex items-center justify-center">
                <div class="text-center pr-3 text-white text-sm">
                    <!-- {{ windowWidth }}x{{ windowHeight }} -->
                    <!-- {{ this.scannedCode }} -->
                    {{ this.version }}
                </div>
            </div>
        </div>
    </div>


    <div class="px-4 py-4" [ngClass]="'bg-' + backgroundColor">
        <div class="grid">

            <!-- Vendég neve -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="info-box surface-card shadow-2 p-3 rounded-md border-teal-500">
                    <div class="flex justify-between">
                        <div>
                            <span class="block text-500 text-xl font-medium mb-3">Vendég</span>
                            <div class="text-900 font-medium text-2xl">
                                {{ guest?.lastName }} {{ guest?.firstName }}&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Étrend -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="info-box surface-card shadow-2 p-3 rounded-md border-teal-500">
                    <div class="flex justify-between">
                        <div>
                            <span class="block text-500 text-xl font-medium mb-3">Étrend</span>
                            <div class="text-900 font-medium text-2xl">{{ guest?.diet }}&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid mt-1">

            <!-- Korosztály -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="info-box surface-card shadow-2 p-3 rounded-md border-teal-500">
                    <div class="flex justify-between">
                        <div>
                            <span class="block text-500 text-xl font-medium mb-3">Korosztály</span>
                            <div class="text-900 font-medium text-2xl">{{ ageGroup }}&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Konferencia neve -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="info-box surface-card shadow-2 p-3 rounded-md border-teal-500">
                    <div class="flex justify-between">
                        <div>
                            <span class="block text-500 text-xl font-medium mb-3">Konferencia</span>
                            <div class="text-900 font-medium text-2xl">{{ guest?.conferenceName }}&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid mt-1">

            <!-- Már kiadott ételek száma -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="info-box surface-card shadow-2 p-3 rounded-md border-teal-500">
                    <div class="flex justify-between">
                        <div>
                            <span class="block text-500 text-xl font-medium mb-3">Már kiadott ételek száma</span>
                            <div class="text-900 font-medium text-2xl">{{ mealsNumber }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Étel kiadva -->
            <div class="w-full md:w-full lg:w-1/2 p-2">
                <div class="surface-card shadow-2 rounded-md">
                    <div class="flex items-center justify-center gap-2" >
                        <button *ngIf="isOpen && canEat && !alreadyReceivedFood" class="flex items-center justify-center w-full h-fullgap-2 bg-teal-500 shadow-1 rounded-sm border-none cursor-pointer hover:bg-teal-600 transition-duration-200" style="min-height: 80px;">
                            <span class="font-medium text-2xl text-white white-space-nowrap">
                                Étel kiadva
                            </span>
                        </button>

                        <!-- Nincs előfizetve -->
                        <button *ngIf="isOpen && !canEat" class="flex items-center justify-center w-full h-fullgap-2 bg-red-500 shadow-1 rounded-sm border-none cursor-pointer hover:bg-red-600 transition-duration-200" style="min-height: 80px;">
                            <span class="font-medium text-2xl text-white white-space-nowrap">
                                Nincs előfizetve
                            </span>
                        </button>

                        <!-- Már átvett étel -->
                        <button *ngIf="isOpen && canEat && alreadyReceivedFood" class="flex items-center justify-center w-full h-fullgap-2 bg-red-500 shadow-1 rounded-sm border-none cursor-pointer hover:bg-red-600 transition-duration-200" style="min-height: 80px;">
                            <span class="font-medium text-2xl text-white white-space-nowrap">
                                Már átvett étel
                            </span>
                        </button>

                        <!-- Jelenleg nincs étkeztetés -->
                        <button *ngIf="!isOpen" class="flex items-center justify-center w-full h-fullgap-2 bg-red-500 shadow-1 rounded-sm border-none cursor-pointer hover:bg-red-600 transition-duration-200" style="min-height: 80px;">
                            <span class="font-medium text-2xl text-white white-space-nowrap">
                                Jelenleg nincs étkeztetés
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
    header="Hiba"
    [visible]="connectionStatus === false"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false">
        <p-message severity="error">
            <ng-template pTemplate>
                <i class="pi pi-wifi" style="font-size: 2.5rem"></i>
                <div class="ml-4 font-medium text-xl">Nincs internetkapcsolat</div>
            </ng-template>
        </p-message>
</p-dialog>

<p-toast></p-toast>
