<div class="relative overflow-hidden flex flex-column justify-content-center">

    <div class="header bg-teal-500">
        <div class="p-5 font-medium text-5xl text-white white-space-nowrap">
            Ebéd
        </div>
    </div>


<div class="surface-ground px-5 py-5">
    <div class="grid">

        <!-- Vendég neve -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="info-box surface-card shadow-2 p-5 border-round border-teal-500">
                <div class="flex justify-content-between">
                    <div>
                        <span class="block text-500 text-3xl font-medium mb-3">Vendég</span>
                        <div class="text-900 font-medium text-5xl">Gábris Balázs</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Étrend -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="info-box surface-card shadow-2 p-5 border-round border-teal-500">
                <div class="flex justify-content-between">
                    <div>
                        <span class="block text-500 text-3xl font-medium mb-3">Étrend</span>
                        <div class="text-900 font-medium text-5xl">Normál</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid mt-1">

        <!-- Korosztály -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="info-box surface-card shadow-2 p-5 border-round border-teal-500">
                <div class="flex justify-content-between">
                    <div>
                        <span class="block text-500 text-3xl font-medium mb-3">Korosztály</span>
                        <div class="text-900 font-medium text-5xl">18-65</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Konferencia neve -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="info-box surface-card shadow-2 p-5 border-round border-teal-500">
                <div class="flex justify-content-between">
                    <div>
                        <span class="block text-500 text-3xl font-medium mb-3">Konferencia</span>
                        <div class="text-900 font-medium text-5xl">Golgota Nyári hetek 2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid mt-1">

        <!-- Már kiadott ételek száma -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="info-box surface-card shadow-2 p-5 border-round border-teal-500">
                <div class="flex justify-content-between">
                    <div>
                        <span class="block text-500 text-3xl font-medium mb-3">Már kiadott ételek száma</span>
                        <div class="text-900 font-medium text-5xl">145</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Étel kiadva -->
        <div class="col-12 md:col-12 lg:col-6">
            <div class="surface-card shadow-2 border-round">
                <div class="flex align-items-center justify-content-center gap-2" >
                    <button class="flex align-items-center justify-content-center w-full h-fullgap-2 bg-teal-500 shadow-1 border-round-sm border-none cursor-pointer hover:bg-teal-600 transition-duration-200" style="min-height: 160px;">
                        <span class="font-medium text-5xl text-white white-space-nowrap">
                            Étel kiadva
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
