<!-- ReactiveForms -->
<p-dropdown *ngIf="getFormControl() as control; else useNgModel"
            [formControl]="control"
            [options]="conferences"
            optionLabel="name"
            optionValue="name"
            (onChange)="handleOnChange($event)"
            [placeholder]="placeholder"
            emptyMessage="{{ 'Nincs találat...' | translate }}"
            [showClear]="showClear"
            appendTo="body">

    <ng-template pTemplate="item" let-option>
        {{ option.name | translate }}
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedItem>
        {{ selectedItem?.name | translate  }}
    </ng-template>
</p-dropdown>

<!-- ngModel -->
<ng-template #useNgModel>
    <p-dropdown [(ngModel)]="selectedConference"
                [options]="conferences"
                optionLabel="name"
                optionValue="name"
                (onChange)="handleOnChange($event)"
                [placeholder]="placeholder"
                emptyMessage="{{ 'Nincs találat...' | translate }}"
                [showClear]="showClear"
                appendTo="body">

        <ng-template pTemplate="item" let-option>
            {{ option.name | translate  }}
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
            {{ selectedItem?.name | translate  }}
        </ng-template>
    </p-dropdown>
</ng-template>
