<div class="grid">
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-table #dt
                     dataKey="id"
                     [value]="tableData"
                     responsiveLayout="scroll"
                     [rows]="rowsPerPage"
                     [totalRecords]="totalRecords"
                     [globalFilterFields]="['roomNum']"
                     [paginator]="true"
                     [rowsPerPageOptions]="rowsPerPageOptions"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} bejegyzés a(z) {totalRecords}-ból megjelenítése"
                     [(selection)]="selected"
                     selectionMode="multiple"
                     [tableStyle]="{'min-height': 'calc(100vh - 320px)'}"
                     [rowHover]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [lazy]="true">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Szobák</h5>
                        <span class="block mt-2 md:mt-0">
                            <app-conference-selector
                                (change)="onFilter($event, 'conferenceName')" 
                                placeholder="Keresés..." 
                                [showClear]="true"
                                placeholder="Válasszon konferenciát...">
                            </app-conference-selector>
                        </span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés..."  class="w-full sm:w-auto"/>
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="create()" [disabled]="!canCreate"></button>
                            <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger mr-2" (click)="bulkDeleteDialog = true" [disabled]="!selected || !selected.length || !canDelete"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="roomNum">Szoba <p-sortIcon field="roomNum"></p-sortIcon></th>
                        <th pSortableColumn="bedType">Ágytípus<p-sortIcon field="bedType"></p-sortIcon></th>
                        <th pSortableColumn="matrace">Matrac <p-sortIcon field="matrace"></p-sortIcon></th>
                        <th pSortableColumn="comment">Komment <p-sortIcon field="comment"></p-sortIcon></th>
                        <th pSortableColumn="occupancy">Telítettség <p-sortIcon field="occupancy"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'roomNum')"
                                   placeholder="Keresés..."
                                   style="min-width:5rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'bedType')"
                                   placeholder="Keresés..."
                                   style="min-width:5rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'matrace')"
                                   placeholder="Keresés..."
                                   style="min-width:5rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'comment')"
                                   placeholder="Keresés..."
                                   style="width:7rem;"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'occupancy')"
                                   placeholder="Keresés..."
                                   style="width:7rem;"/>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-room>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="room"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">Szoba szám</span>

                            <div class="bg-{{room.color}}-200 border-round-xl w-min">
                                <div class="flex align-items-center justify-content-center py-1 px-1">
                                    <div class="flex align-items-center justify-content-center gap-2 px-2">
                                        <i class="pi pi-key text-{{room.color}}-800 vertical-align-middle"></i>
                                        <span class="text-2xl text-{{room.color}}-800 font-semibold white-space-nowrap vertical-align-middle" pTooltip="Szoba szám: {{ room.roomNum }}" tooltipPosition="top">
                                            {{ room.roomNum }}
                                        </span>
                                    </div>
                                    <div class="block min-w-max border-left-1 px-2 border-{{room.color}}-300 text-{{room.color}}-800" pTooltip="Szoba kód: {{ room.roomCode }}" tooltipPosition="top">
                                        <div class="flex flex-column align-items-left justify-content-center">
                                            <span class="font-semibold uppercase">
                                                {{ room.building }} <span class="font-normal text-sm uppercase">({{ room.floor }})</span>
                                            </span>
                                            <span class="font-small text-xs uppercase">
                                                {{ room.description }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="my-2">
                            </div>

                            <div class="bg-indigo-200 border-round-xl w-min">
                                <div class="flex align-items-center justify-content-center py-1 px-1">
                                    <div class="flex align-items-center justify-content-center gap-2 px-2">
                                        <i class="pi pi-key text-indigo-800 vertical-align-middle"></i>
                                        <span class="text-2xl text-indigo-800 font-semibold white-space-nowrap vertical-align-middle" pTooltip="Szoba szám" tooltipPosition="top">
                                            {{ room.roomNum }}
                                        </span>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-left-1 border-right-1 px-2 border-indigo-300">
                                        <span class="font-small text-indigo-800 white-space-nowrap" pTooltip="{{room.building}}" tooltipPosition="top">
                                            {{ room.roomCode }}
                                        </span>
                                    </div>
                                    <div class="flex align-items-center justify-content-center px-2">
                                        <span class="font-small text-indigo-800 white-space-nowrap" pTooltip="{{room.bedType}}" tooltipPosition="top">
                                            {{ room.beds }}
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                        </td>
                        <td>
                            <span class="p-column-title">Ágytípus</span>
                            {{room.bedType}}
                        </td>
                        <td>
                            <span class="p-column-title">Matrac</span>
                            {{room.matrace}}
                        </td>
                        <td>
                            <span class="p-column-title">Komment</span>
                            {{room.comment}}
                        </td>
                        <td>
                            <span class="p-column-title">Telítettség</span>
                            <p-progressBar 
                                [value]="(room.guests?.length / room.beds) * 100" 
                                [showValue]="false" 
                                [style]="{'height':'.5rem'}"
                                pTooltip="Ágy/vendég: {{room.beds}}/{{room.guests?.length}}" 
                                tooltipPosition="top">
                            </p-progressBar>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(room)" [disabled]="!canEdit"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="tableItem = room; deleteDialog = true" [disabled]="!canDelete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6" class="text-center">Nincs találat...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- New / Update sidebar -->
        <p-sidebar 
            id="sidebar" 
            [(visible)]="sidebar" 
            position="right" 
            styleClass="p-sidebar-md"
            [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" 
            [fullScreen]="isMobile"
            [blockScroll]="true">
            
            <!-- Sidebar header -->
            <ng-template pTemplate="header">
                <span class="font-semibold text-xl">
                    {{ id?.value ? 'Szoba adatai' : 'Új szoba' }}
                </span>
            </ng-template>
            
            <form [formGroup]="roomForm" (ngSubmit)="save()" novalidate class="grid formgrid p-fluid">
                
                <!-- Room Id -->
                <input formControlName="id" type="hidden">

                <!-- roomNum -->
                <div class="field mb-4 col-12">
                    <label for="roomNum" class="font-medium text-900">Szoba szám</label>
                    <input id="roomNum" type="text" pInputText formControlName="roomNum">
                    <div *ngIf="roomNum?.dirty && roomNum?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>
                
                <!-- roomCode -->
                <div class="field mb-4 col-12">
                    <label for="roomCode" class="font-medium text-900">Szoba kód</label>
                    <input id="roomCode" type="text" pInputText formControlName="roomCode">
                    <div *ngIf="roomCode?.dirty && roomCode?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- beds -->
                <div class="field mb-4 col-12">
                    <label for="beds" class="font-medium text-900">Ágyak száma</label>
                    <input id="beds" type="text" pInputText formControlName="beds">
                    <div *ngIf="beds?.dirty && beds?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- matrace -->
                <div class="field mb-4 col-12">
                    <label for="matrace" class="font-medium text-900">Matrac</label>
                    <input id="matrace" type="text" pInputText formControlName="matrace">
                    <div *ngIf="matrace?.dirty && matrace?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- bathroom -->
                <div class="field mb-4 col-12">
                    <label for="bathroom" class="font-medium text-900">Fürdőszoba</label>
                    <input id="bathroom" type="text" pInputText formControlName="bathroom">
                    <div *ngIf="bathroom?.dirty && bathroom?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- building -->
                <div class="field mb-4 col-12">
                    <label for="building" class="font-medium text-900">Épület</label>
                    <input id="building" type="text" pInputText formControlName="building">
                    <div *ngIf="building?.dirty && building?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- bedType -->
                <div class="field mb-4 col-12">
                    <label for="bedType" class="font-medium text-900">Ágytípus</label>
                    <input id="bedType" type="text" pInputText formControlName="bedType">
                    <div *ngIf="bedType?.dirty && bedType?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- bedType -->
                <div class="field mb-4 col-12">
                    <label for="comment" class="font-medium text-900">Megjegyzés</label>
                    <input id="comment" type="text" pInputText formControlName="comment">
                    <div *ngIf="comment?.dirty && comment?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>
            </form>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end ap-2">
                    <button pButton 
                            pRipple 
                            label="Mégsem" 
                            icon="pi pi-times" 
                            class="p-button-outlined"
                            (click)="cancel()" 
                            [disabled]="!roomForm.dirty">
                    </button>
                    <button pButton 
                            pRipple 
                            label="Mentés" 
                            icon="pi pi-check" 
                            class="p-button ml-2" 
                            (click)="save()"
                            [disabled]="!roomForm.valid || !roomForm.dirty">
                    </button>
                </div>
            </ng-template>
        </p-sidebar>

        <!-- Delete dialog -->
        <p-dialog [(visible)]="deleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tableItem">Biztosan törölni akarja a(z) <b>{{tableItem.roomNum}}</b> szobaet?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="deleteDialog = false"></button>
                    <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="delete()"></button>
            </ng-template>
        </p-dialog>

        <!-- Bulk Delete dialog -->
        <p-dialog [(visible)]="bulkDeleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztosan törölni akarja a kiválasztott szobaeket?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="bulkDeleteDialog = false"></button>
                <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="deleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<!-- Notifications -->
<p-toast></p-toast>
