<div class="grid">
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-table #dt
                     dataKey="id"
                     [value]="tableData"
                     responsiveLayout="scroll"
                     [rows]="rowsPerPage"
                     [totalRecords]="totalRecords"
                     [globalFilterFields]="['roomNum']"
                     [paginator]="true"
                     [rowsPerPageOptions]="rowsPerPageOptions"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="{first} - {last} bejegyzés a(z) {totalRecords}-ból megjelenítése"
                     [(selection)]="selected"
                     selectionMode="multiple"
                     [tableStyle]="{'min-height': 'calc(100vh - 320px)'}"
                     [rowHover]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [lazy]="true">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Szobák</h5>
                        <span class="block mt-2 md:mt-0">
                            <app-conference-selector
                                [(ngModel)]="selectedConferences"
                                [selectionLimit]="1"
                                [showClear]="true"
                                [style]="{'minWidth': '35rem'}"
                                placeholder="Válasszon konferenciát..."
                                (ngModelChange)="onFilter($event, 'conferenceName')">
                            </app-conference-selector>
                        </span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Keresés..."  class="w-full sm:w-auto"/>
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <button pButton pRipple label="Új" icon="pi pi-plus" class="p-button-success mr-2" (click)="create()" [disabled]="!canCreate"></button>
                            <button pButton pRipple label="Törlés" icon="pi pi-trash" class="p-button-danger mr-2" (click)="bulkDeleteDialog = true" [disabled]="!selected || !selected.length || !canDelete"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="roomNum">Szoba <p-sortIcon field="roomNum"></p-sortIcon></th>
                        <th pSortableColumn="spareBeds">Pótágy <p-sortIcon field="spareBeds"></p-sortIcon></th>
                        <th pSortableColumn="comment">Komment <p-sortIcon field="comment"></p-sortIcon></th>
                        <th pSortableColumn="guests">Vendégek <p-sortIcon field="guests"></p-sortIcon></th>
                        <th pSortableColumn="occupancy">Telítettség <p-sortIcon field="occupancy"></p-sortIcon></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th styleClass="w-3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   class="mr-2"
                                   (input)="onFilter($event, 'roomNum')"
                                   placeholder="Szobaszám..."
                                   style="width:8rem"/>
                           <app-building-selector
                                   class="mr-2"
                                   (change)="onFilter($event, 'building')"
                                   [showClear]="true"
                                   placeholder="Épület...">
                           </app-building-selector>
                           <app-bedtype-selector
                                   (change)="onFilter($event, 'bedType')"
                                   [showClear]="true"
                                   placeholder="Ágytipus...">
                           </app-bedtype-selector>
                           <!-- <app-bathroom-selector
                                   (change)="onFilter($event, 'bathroom')"
                                   [showClear]="true"
                                   placeholder="Fürdő...">
                           </app-bathroom-selector> -->
                        </th>
                        <th>
                            <app-sparebed-selector
                                    (change)="onFilter($event, 'spareBeds')"
                                    [showClear]="true">
                            </app-sparebed-selector>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'comment')"
                                   placeholder="Keresés..."
                                   style="width:7rem"/>
                        </th>
                        <th>
                            <input pInputText
                                   type="text"
                                   (input)="onFilter($event, 'guests')"
                                   placeholder="Keresés..."
                                   style="width:10rem"/>
                        </th>
                        <th>
                            <p-slider 
                                [(ngModel)]="occupancyFilter"
                                (input)="onFilter($event, 'occupancy')" 
                                [step]="20" 
                                styleClass="w-7rem" />
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-room>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="room"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">Szoba szám</span>

                            <div class="building-badge {{room.building}} border-round-xl w-min p-0">
                                <div class="flex align-items-center justify-content-center py-1 px-1">
                                    <div class="flex align-items-center justify-content-center gap-2 px-2">
                                        <i class="pi pi-key vertical-align-middle"></i>
                                        <span class="text-2xl font-semibold white-space-nowrap vertical-align-middle" pTooltip="Szoba szám: {{ room.roomNum }}" tooltipPosition="top">
                                            {{ room.roomNum }}
                                        </span>
                                    </div>
                                    <div class="block min-w-max border-left-1 px-2" pTooltip="Szoba kód: {{ room.roomCode }}" tooltipPosition="top">
                                        <div class="flex flex-column align-items-left justify-content-center">
                                            <span class="text-base font-semibold uppercase">
                                                {{ 'BUILDINGS.' + room.building.toUpperCase() | translate }} <span *ngIf="room.floor" class="font-normal text-sm uppercase">({{ room.floor }})</span>
                                                <span *ngIf="room.climate" class="pl-1">❄️</span>
                                            </span>
                                            <span class="font-light text-xs uppercase">
                                                {{ room.beds }} SZEMÉLYES ({{ room.bedType }}<span *ngIf="room.bathroom">, {{ room.bathroom }}</span>)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="p-column-title">Pótágy</span>
                            <span *ngIf="room.spareBeds" class="sparebed-badge {{ room.spareBeds }}">
                                {{ 'SPAREBEDS.' + room.spareBeds?.toUpperCase() | translate }}
                            </span>
                        </td>
                        <td>
                            <span class="p-column-title">Komment</span>
                            {{room.comment}}
                        </td>
                        <td>
                            <span class="p-column-title">Vendégek</span>
                            <p-avatarGroup >
                                <p-avatar *ngFor="let guest of room.guests" 
                                           icon="pi pi-user" 
                                           size="large" 
                                           shape="circle"
                                           pTooltip="{{guest.guestName}}" 
                                           tooltipPosition="top">
                                </p-avatar>
                            </p-avatarGroup>
                        </td>
                        <td>
                            <span class="p-column-title">Telítettség</span>
                            <p-progressBar 
                                [value]="(room.guests?.length / room.beds) * 100" 
                                [showValue]="false" 
                                [style]="{'height':'.5rem'}"
                                pTooltip="Ágy/vendég: {{room.beds}}/{{room.guests?.length}}" 
                                tooltipPosition="top">
                            </p-progressBar>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(room)" [disabled]="!canEdit"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="tableItem = room; deleteDialog = true" [disabled]="!canDelete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6" class="text-center">Nincs találat...</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- New / Update sidebar -->
        <p-sidebar 
            id="sidebar" 
            [(visible)]="sidebar" 
            position="right" 
            styleClass="p-sidebar-md"
            [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" 
            [fullScreen]="isMobile"
            [blockScroll]="true">
            
            <!-- Sidebar header -->
            <ng-template pTemplate="header">
                <span class="font-semibold text-xl">
                    {{ id?.value ? 'Szoba adatai' : 'Új szoba' }}
                </span>
            </ng-template>
            
            <form [formGroup]="roomForm" (ngSubmit)="save()" novalidate class="grid formgrid p-fluid">
                
                <!-- Room Id -->
                <input formControlName="id" type="hidden">

                <!-- roomNum -->
                <div class="field mb-4 col-6">
                    <label for="roomNum" class="font-medium text-900">Szoba szám</label>
                    <input id="roomNum" type="text" pInputText formControlName="roomNum">
                    <div *ngIf="roomNum?.dirty && roomNum?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>
                
                <!-- roomCode -->
                <div class="field mb-4 col-6">
                    <label for="roomCode" class="font-medium text-900">Szoba kód</label>
                    <input id="roomCode" type="text" pInputText formControlName="roomCode">
                    <div *ngIf="roomCode?.dirty && roomCode?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- beds -->
                <div class="field mb-4 col-6">
                    <label for="beds" class="font-medium text-900">Ágyak száma</label>
                    <input id="beds" type="text" pInputText formControlName="beds">
                    <div *ngIf="beds?.dirty && beds?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- bedType -->
                <div class="field mb-4 col-6">
                    <label for="bedType" class="font-medium text-900">Ágytípus</label>
                    <app-bedtype-selector [parentForm]="roomForm" controlName="bedType" [showClear]="true"></app-bedtype-selector>
                    <div *ngIf="bedType?.dirty && bedType?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- spareBeds -->
                <div class="field mb-4 col-6">
                    <label for="spareBeds" class="font-medium text-900">Pótágy</label>
                    <app-sparebed-selector [parentForm]="roomForm" controlName="spareBeds" [showClear]="true"></app-sparebed-selector>
                    <div *ngIf="spareBeds?.dirty && spareBeds?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- bathroom -->
                <div class="field mb-4 col-6">
                    <label for="bathroom" class="font-medium text-900">Fürdőszoba</label>
                    <app-bathroom-selector [parentForm]="roomForm" controlName="bathroom" [showClear]="true"></app-bathroom-selector>
                    <div *ngIf="bathroom?.dirty && bathroom?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- building -->
                <div class="field mb-4 col-6">
                    <label for="building" class="font-medium text-900">Épület</label>
                    <app-building-selector [parentForm]="roomForm" controlName="building" [showClear]="true"></app-building-selector>
                    <div *ngIf="building?.dirty && building?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- floor -->
                <div class="field mb-4 col-6">
                    <label for="floor" class="font-medium text-900">Emelet</label>
                    <app-floor-selector [parentForm]="roomForm" controlName="floor" [showClear]="true"></app-floor-selector>
                    <div *ngIf="floor?.dirty && floor?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- comment -->
                <div class="field mb-4 col-6">
                    <label for="comment" class="font-medium text-900">Megjegyzés</label>
                    <input id="comment" type="text" pInputText formControlName="comment">
                    <div *ngIf="comment?.dirty && comment?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- extraBeds -->
                <div class="field mb-4 col-6">
                    <label for="extraBeds" class="font-medium text-900">Extra férőhely</label>
                    <input id="extraBeds" type="text" pInputText formControlName="extraBeds">
                    <div *ngIf="extraBeds?.dirty && extraBeds?.errors?.['required']" class="block p-error">
                        Kötelező kitölteni
                    </div>
                </div>

                <!-- climate -->
                <div class="field mb-4 col-6">
                    <label for="climate" class="font-medium text-900">Klimatizált?</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="climate" value="1" formControlName="climate" inputId="climate-yes"></p-radioButton>
                            <label for="climate-yes" class="ml-2">Igen</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="climate" value="0" formControlName="climate" inputId="climate-no"></p-radioButton>
                            <label for="climate-no" class="ml-2">Nem</label>
                        </div>
                    </div>
                    <div *ngIf="climate?.dirty && climate?.errors?.['required']" class="p-error">
                        Kérjük válassza ki, hogy klimatizált e a szoba!
                    </div>
                </div>

                <!-- familyRoom -->
                <div class="field mb-4 col-6">
                    <label for="familyRoom" class="font-medium text-900">Családi szoba?</label>
                    <div class="flex flex-wrap gap-3 my-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="familyRoom" value="1" formControlName="familyRoom" inputId="familyRoom-yes"></p-radioButton>
                            <label for="familyRoom-yes" class="ml-2">Igen</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="familyRoom" value="0" formControlName="familyRoom" inputId="familyRoom-no"></p-radioButton>
                            <label for="familyRoom-no" class="ml-2">Nem</label>
                        </div>
                    </div>
                    <div *ngIf="familyRoom?.dirty && familyRoom?.errors?.['required']" class="p-error">
                        Kérjük válassza ki, hogy a szoba családi szoba e!
                    </div>
                </div>
            </form>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end ap-2">
                    <button pButton 
                            pRipple 
                            label="Mégsem" 
                            icon="pi pi-times" 
                            class="p-button-outlined"
                            (click)="cancel()" 
                            [disabled]="!roomForm.dirty">
                    </button>
                    <button pButton 
                            pRipple 
                            label="Mentés" 
                            icon="pi pi-check" 
                            class="p-button ml-2" 
                            (click)="save()"
                            [disabled]="!roomForm.valid || !roomForm.dirty">
                    </button>
                </div>
            </ng-template>
        </p-sidebar>

        <!-- Delete dialog -->
        <p-dialog [(visible)]="deleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tableItem">Biztosan törölni akarja a(z) <b>{{tableItem.roomNum}}</b> szobát?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="deleteDialog = false"></button>
                <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="delete()"></button>
            </ng-template>
        </p-dialog>

        <!-- Bulk Delete dialog -->
        <p-dialog [(visible)]="bulkDeleteDialog" header="Törlés" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Biztosan törölni akarja a kiválasztott szobákat?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Nem" icon="pi pi-times" class="p-button-outlined" (click)="bulkDeleteDialog = false"></button>
                <button pButton pRipple label="Igen" icon="pi pi-check" class="p-button ml-2" (click)="deleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<!-- Loading Overlay -->
<p-blockUI [autoZIndex]="true" [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<!-- Notifications -->
<p-toast></p-toast>
