<p-multiSelect
    #guestSelector
    class="multiselect-custom-virtual-scroll"
    dataKey="id"
    [options]="guests"
    [(ngModel)]="selectedGuests"
    (onChange)="onSelectionChange($event)"
    (onClear)="onSelectionClear()"
    [disabled]="disabled"
    optionLabel="fullName"
    optionDisabled="disabled"
    filterBy="lastName,firstName"
    [selectionLimit]="selectionLimit"
    [placeholder]="placeholder"
    emptyMessage="{{ 'Nincs találat...' | translate }}"
    [virtualScroll]="true"
    [virtualScrollItemSize]="65"
    [showClear]="showClear"
    [style]="style"
    styleClass="height:53px"
    scrollHeight="400px"
    appendTo="body"
    display="chip">

    <ng-template pTemplate="item" let-option>
        <div class="building-badge {{getColorByRoomType(option.roomType)}} border-round-xl w-min p-0">
            <div class="flex align-items-center justify-content-center py-1 px-1">
                <div class="block min-w-max border-left-1 px-2" pTooltip="Szoba kód: {{ option.roomCode }}" tooltipPosition="top">
                    <div class="flex flex-column align-items-left justify-content-center">
                        <span class="text-base font-semibold uppercase">
                            {{ option.lastName }} {{ option.firstName }}
                            <span class="font-normal text-sm uppercase">({{ getAge(option.birthDate) }})</span>
                            <span *ngIf="option.climate" class="pl-1">❄️</span>
                        </span>
                        <span class="font-light text-xs uppercase">
                            {{ option.beds }} SZEMÉLYES ({{ option.bedType }}<span *ngIf="option.bathroom">, {{ option.bathroom }}</span>)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
  
    <ng-template pTemplate="selectedItem" let-selectedItem>
        <div class="color-badge {{ getColorByRoomType(selectedItem.roomType) }} border-round-xl w-min p-0">
            <div class="flex align-items-center justify-content-center py-1 px-1">
                <div class="block min-w-max" pTooltip="{{ selectedItem.roomMate }}" tooltipPosition="top">
                    <div class="flex flex-column align-items-left justify-content-center">
                        <span class="text-base font-semibold uppercase">
                            {{ selectedItem.lastName }} {{ selectedItem.firstName }}
                            <span class="font-normal text-sm uppercase">({{ getAge(selectedItem.birthDate) }})</span>
                        </span>
                        <span class="font-light text-xs uppercase">
                            {{ selectedItem.roomType }}
                        </span>
                        <div class="font-light text-xs white-space-nowrap overflow-hidden text-overflow-ellipsis max-w-30rem">
                            {{ selectedItem.roomMate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-multiSelect>